openapi: 3.1.0
info:
  title: Clinical Decision Engine API
  version: 1.0.0
  description: |
    A comprehensive clinical decision support system providing standardized interfaces for 
    clinical decision support operations. Part of the CuurAI MCP ecosystem, enabling healthcare 
    applications to leverage structured clinical data, evidence-based rules, and AI models to 
    generate diagnostic suggestions, treatment recommendations, risk scores, and care pathway guidance.
    
    ## API Design Principles
    - **POST /entity** → Create new resource
    - **PATCH /entity/:id** → Update existing resource
    - **DELETE /entity/:id** → Delete resource
    - **GET /entity/:id/sub-entity** → List child resources
    
    All endpoints are prefixed with `/api/v1/`.
  contact:
    name: CuurAI MCP Team
    url: https://github.com/cuurai/mcp-cuur-ai
  license:
    name: Proprietary
servers:
  - url: https://api.cuurai.com/api/v1
    description: Production server
  - url: https://api-staging.cuurai.com/api/v1
    description: Staging server
  - url: http://localhost:8000/api/v1
    description: Local development server

tags:
  - name: Patients
    description: Patient & Clinical Data Domain - Patient management
  - name: Encounters
    description: Patient & Clinical Data Domain - Clinical encounters
  - name: Observations
    description: Patient & Clinical Data Domain - Labs, vitals, and clinical measurements
  - name: Rules
    description: Knowledge & Evidence Domain - Clinical decision rules
  - name: Guidelines
    description: Knowledge & Evidence Domain - Evidence-based clinical guidelines
  - name: Models
    description: Knowledge & Evidence Domain - AI/ML model definitions
  - name: Ontology
    description: Knowledge & Evidence Domain - Medical terminology and coding systems
  - name: Decision Requests
    description: Decision Intelligence Domain - Decision request processing
  - name: Risk Scores
    description: Decision Intelligence Domain - Risk assessment
  - name: Diagnostic Suggestions
    description: Decision Intelligence Domain - Diagnostic recommendations
  - name: Treatment Recommendations
    description: Decision Intelligence Domain - Treatment suggestions
  - name: Alerts
    description: Workflow & Care Pathways Domain - Clinical alerts
  - name: Care Plans
    description: Workflow & Care Pathways Domain - Care plan management
  - name: Tasks
    description: Workflow & Care Pathways Domain - Clinical tasks
  - name: Pathways
    description: Workflow & Care Pathways Domain - Clinical pathways
  - name: FHIR Bundles
    description: Integration & Interoperability Domain - FHIR data exchange
  - name: HL7 Messages
    description: Integration & Interoperability Domain - HL7 message processing
  - name: Data Sources
    description: Integration & Interoperability Domain - External data source management
  - name: Import Jobs
    description: Integration & Interoperability Domain - Data import operations
  - name: Audit Events
    description: Integration & Interoperability Domain - Audit and compliance logging

paths:
  # ============================================================================
  # 1) Patient & Clinical Data Domain
  # ============================================================================
  
  /patients:
    post:
      tags:
        - Patients
      summary: Create a new patient
      operationId: createPatient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientInput'
      responses:
        '201':
          description: Patient created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  
  /patients/{id}:
    patch:
      tags:
        - Patients
      summary: Update a patient
      operationId: updatePatient
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientUpdate'
      responses:
        '200':
          description: Patient updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Patients
      summary: Delete a patient
      operationId: deletePatient
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Patient deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /patients/{id}/encounters:
    get:
      tags:
        - Patients
      summary: List patient encounters
      operationId: listPatientEncounters
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of patient encounters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncounterList'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /patients/{id}/conditions:
    get:
      tags:
        - Patients
      summary: List patient conditions
      operationId: listPatientConditions
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of patient conditions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Condition'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /patients/{id}/observations:
    get:
      tags:
        - Patients
      summary: List patient observations
      operationId: listPatientObservations
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of patient observations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Observation'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /patients/{id}/medications:
    get:
      tags:
        - Patients
      summary: List patient medications
      operationId: listPatientMedications
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of patient medications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Medication'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /patients/{id}/allergies:
    get:
      tags:
        - Patients
      summary: List patient allergies
      operationId: listPatientAllergies
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of patient allergies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Allergy'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /patients/{id}/procedures:
    get:
      tags:
        - Patients
      summary: List patient procedures
      operationId: listPatientProcedures
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of patient procedures
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Procedure'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /patients/{id}/imaging:
    get:
      tags:
        - Patients
      summary: List patient imaging studies
      operationId: listPatientImaging
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of patient imaging studies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Imaging'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /encounters:
    post:
      tags:
        - Encounters
      summary: Create a new encounter
      operationId: createEncounter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncounterInput'
      responses:
        '201':
          description: Encounter created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Encounter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /encounters/{id}:
    patch:
      tags:
        - Encounters
      summary: Update an encounter
      operationId: updateEncounter
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EncounterUpdate'
      responses:
        '200':
          description: Encounter updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Encounter'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Encounters
      summary: Delete an encounter
      operationId: deleteEncounter
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Encounter deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /observations:
    post:
      tags:
        - Observations
      summary: Create a new observation (labs, vitals)
      operationId: createObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObservationInput'
      responses:
        '201':
          description: Observation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Observation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /observations/{id}:
    patch:
      tags:
        - Observations
      summary: Update an observation
      operationId: updateObservation
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObservationUpdate'
      responses:
        '200':
          description: Observation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Observation'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Observations
      summary: Delete an observation
      operationId: deleteObservation
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Observation deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  # ============================================================================
  # 2) Knowledge & Evidence Domain
  # ============================================================================
  
  /rules:
    post:
      tags:
        - Rules
      summary: Create a new clinical rule
      operationId: createRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalRuleInput'
      responses:
        '201':
          description: Clinical rule created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /rules/{id}:
    patch:
      tags:
        - Rules
      summary: Update a clinical rule
      operationId: updateRule
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalRuleUpdate'
      responses:
        '200':
          description: Clinical rule updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalRule'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Rules
      summary: Delete a clinical rule
      operationId: deleteRule
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Clinical rule deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /guidelines:
    post:
      tags:
        - Guidelines
      summary: Create a new clinical guideline
      operationId: createGuideline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalGuidelineInput'
      responses:
        '201':
          description: Clinical guideline created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalGuideline'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /guidelines/{id}:
    patch:
      tags:
        - Guidelines
      summary: Update a clinical guideline
      operationId: updateGuideline
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalGuidelineUpdate'
      responses:
        '200':
          description: Clinical guideline updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalGuideline'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Guidelines
      summary: Delete a clinical guideline
      operationId: deleteGuideline
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Clinical guideline deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /models:
    post:
      tags:
        - Models
      summary: Create a new model definition
      operationId: createModel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelDefinitionInput'
      responses:
        '201':
          description: Model definition created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelDefinition'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /models/{id}:
    patch:
      tags:
        - Models
      summary: Update a model definition
      operationId: updateModel
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelDefinitionUpdate'
      responses:
        '200':
          description: Model definition updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelDefinition'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Models
      summary: Delete a model definition
      operationId: deleteModel
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Model definition deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /models/{id}/versions:
    get:
      tags:
        - Models
      summary: List model versions
      operationId: listModelVersions
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of model versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelVersion'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /ontology/{id}/children:
    get:
      tags:
        - Ontology
      summary: Get ontology term children
      operationId: getOntologyChildren
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of child ontology terms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OntologyTerm'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  # ============================================================================
  # 3) Decision Intelligence Domain
  # ============================================================================
  
  /decision-requests:
    post:
      tags:
        - Decision Requests
      summary: Create a decision request (immutable)
      operationId: createDecisionRequest
      description: |
        Creates an immutable decision request. Once created, decision requests cannot be 
        modified to ensure audit trail integrity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecisionRequestInput'
      responses:
        '201':
          description: Decision request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /decision-requests/{id}/responses:
    get:
      tags:
        - Decision Requests
      summary: List decision request responses
      operationId: listDecisionResponses
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of decision responses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DecisionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /decision-requests/{id}/explanations:
    get:
      tags:
        - Decision Requests
      summary: List decision request explanations
      operationId: listDecisionExplanations
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of decision explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DecisionExplanation'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /risk-scores:
    post:
      tags:
        - Risk Scores
      summary: Create a risk score
      operationId: createRiskScore
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RiskScoreInput'
      responses:
        '201':
          description: Risk score created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskScore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /diagnostic-suggestions:
    post:
      tags:
        - Diagnostic Suggestions
      summary: Create a diagnostic suggestion
      operationId: createDiagnosticSuggestion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiagnosticSuggestionInput'
      responses:
        '201':
          description: Diagnostic suggestion created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiagnosticSuggestion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /treatment-recommendations:
    post:
      tags:
        - Treatment Recommendations
      summary: Create a treatment recommendation
      operationId: createTreatmentRecommendation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TreatmentRecommendationInput'
      responses:
        '201':
          description: Treatment recommendation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreatmentRecommendation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  # ============================================================================
  # 4) Workflow & Care Pathways Domain
  # ============================================================================
  
  /alerts:
    post:
      tags:
        - Alerts
      summary: Create a new alert
      operationId: createAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertInput'
      responses:
        '201':
          description: Alert created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /alerts/{id}:
    patch:
      tags:
        - Alerts
      summary: Update an alert
      operationId: updateAlert
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertUpdate'
      responses:
        '200':
          description: Alert updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Alerts
      summary: Delete an alert
      operationId: deleteAlert
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Alert deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /careplans:
    post:
      tags:
        - Care Plans
      summary: Create a new care plan
      operationId: createCarePlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarePlanInput'
      responses:
        '201':
          description: Care plan created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /careplans/{id}:
    patch:
      tags:
        - Care Plans
      summary: Update a care plan
      operationId: updateCarePlan
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarePlanUpdate'
      responses:
        '200':
          description: Care plan updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlan'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Care Plans
      summary: Delete a care plan
      operationId: deleteCarePlan
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Care plan deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /careplans/{id}/tasks:
    get:
      tags:
        - Care Plans
      summary: List care plan tasks
      operationId: listCarePlanTasks
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of care plan tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /tasks:
    post:
      tags:
        - Tasks
      summary: Create a new task
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '201':
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /tasks/{id}:
    patch:
      tags:
        - Tasks
      summary: Update a task
      operationId: updateTask
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdate'
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Tasks
      summary: Delete a task
      operationId: deleteTask
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Task deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /pathways:
    post:
      tags:
        - Pathways
      summary: Create a new clinical pathway
      operationId: createPathway
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalPathwayInput'
      responses:
        '201':
          description: Clinical pathway created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalPathway'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /pathways/{id}:
    patch:
      tags:
        - Pathways
      summary: Update a clinical pathway
      operationId: updatePathway
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalPathwayUpdate'
      responses:
        '200':
          description: Clinical pathway updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalPathway'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Pathways
      summary: Delete a clinical pathway
      operationId: deletePathway
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: Clinical pathway deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  # ============================================================================
  # 5) Integration & Interoperability Domain
  # ============================================================================
  
  /fhir-bundles:
    post:
      tags:
        - FHIR Bundles
      summary: Process a FHIR bundle
      operationId: processFHIRBundle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FHIRBundleInput'
          application/fhir+json:
            schema:
              $ref: '#/components/schemas/FHIRBundleInput'
      responses:
        '201':
          description: FHIR bundle processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FHIRBundle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /hl7-messages:
    post:
      tags:
        - HL7 Messages
      summary: Process an HL7 message
      operationId: processHL7Message
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              description: HL7 v2 message text
          application/json:
            schema:
              $ref: '#/components/schemas/HL7MessageInput'
      responses:
        '201':
          description: HL7 message processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HL7Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /data-sources:
    post:
      tags:
        - Data Sources
      summary: Create a new external data source
      operationId: createDataSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalDataSourceInput'
      responses:
        '201':
          description: External data source created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalDataSource'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /data-sources/{id}:
    patch:
      tags:
        - Data Sources
      summary: Update an external data source
      operationId: updateDataSource
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalDataSourceUpdate'
      responses:
        '200':
          description: External data source updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalDataSource'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    delete:
      tags:
        - Data Sources
      summary: Delete an external data source
      operationId: deleteDataSource
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      responses:
        '204':
          description: External data source deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /data-sources/{id}/import-jobs:
    get:
      tags:
        - Data Sources
      summary: List data source import jobs
      operationId: listDataSourceImportJobs
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
        - $ref: '#/components/parameters/PageQueryParam'
        - $ref: '#/components/parameters/LimitQueryParam'
      responses:
        '200':
          description: List of import jobs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ImportJob'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /import-jobs:
    post:
      tags:
        - Import Jobs
      summary: Create a new import job
      operationId: createImportJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportJobInput'
      responses:
        '201':
          description: Import job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /import-jobs/{id}:
    patch:
      tags:
        - Import Jobs
      summary: Update an import job
      operationId: updateImportJob
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportJobUpdate'
      responses:
        '200':
          description: Import job updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /audit-events:
    post:
      tags:
        - Audit Events
      summary: Create an audit event
      operationId: createAuditEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditEventInput'
      responses:
        '201':
          description: Audit event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEvent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /audit-events/{id}:
    patch:
      tags:
        - Audit Events
      summary: Update an audit event
      operationId: updateAuditEvent
      parameters:
        - $ref: '#/components/parameters/IdPathParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditEventUpdate'
      responses:
        '200':
          description: Audit event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEvent'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.cuurai.com/oauth/authorize
          tokenUrl: https://auth.cuurai.com/oauth/token
          scopes:
            patients:read: Read patient data
            patients:write: Create and update patient data
            decisions:read: Read decision data
            decisions:write: Create decision requests
            admin: Admin access
  
  parameters:
    IdPathParam:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: string
        pattern: '^[a-zA-Z0-9_-]+$'
        example: 'pat_1234567890'
    
    PageQueryParam:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    
    LimitQueryParam:
      name: limit
      in: query
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20
  
  responses:
    BadRequest:
      description: Bad request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: 'ValidationError'
            message: 'Invalid input parameters'
            details:
              field: 'patientId'
              reason: 'Required field is missing'
    
    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: 'UnauthorizedError'
            message: 'Authentication required'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: 'NotFoundError'
            message: 'Resource not found'
    
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: 'InternalServerError'
            message: 'An unexpected error occurred'
  
  schemas:
    # Common schemas
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error type identifier
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details
    
    Timestamps:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    # Patient & Clinical Data Domain
    Patient:
      type: object
      required:
        - id
        - createdAt
      properties:
        id:
          type: string
          description: Unique patient identifier
        patientId:
          type: string
          description: External patient identifier (MRN)
        firstName:
          type: string
          description: Patient first name
        lastName:
          type: string
          description: Patient last name
        dateOfBirth:
          type: string
          format: date
          description: Patient date of birth
        gender:
          type: string
          enum: [male, female, other, unknown]
          description: Patient gender
        metadata:
          type: object
          description: Additional patient metadata
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    PatientInput:
      type: object
      required:
        - patientId
        - firstName
        - lastName
        - dateOfBirth
      properties:
        patientId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        metadata:
          type: object
          additionalProperties: true
    
    PatientUpdate:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        metadata:
          type: object
          additionalProperties: true
    
    Encounter:
      type: object
      required:
        - id
        - patientId
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        encounterType:
          type: string
          enum: [inpatient, outpatient, emergency, ambulatory]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [planned, arrived, triaged, in-progress, finished, cancelled]
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    EncounterInput:
      type: object
      required:
        - patientId
        - encounterType
        - startDate
      properties:
        patientId:
          type: string
        encounterType:
          type: string
          enum: [inpatient, outpatient, emergency, ambulatory]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [planned, arrived, triaged, in-progress, finished, cancelled]
        metadata:
          type: object
          additionalProperties: true
    
    EncounterUpdate:
      type: object
      properties:
        encounterType:
          type: string
          enum: [inpatient, outpatient, emergency, ambulatory]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [planned, arrived, triaged, in-progress, finished, cancelled]
        metadata:
          type: object
          additionalProperties: true
    
    EncounterList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Encounter'
        pagination:
          $ref: '#/components/schemas/Pagination'
    
    Observation:
      type: object
      required:
        - id
        - patientId
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        encounterId:
          type: string
        observationType:
          type: string
          enum: [lab, vital, imaging, other]
        code:
          type: string
          description: LOINC or SNOMED code
        value:
          type: string
        unit:
          type: string
        referenceRange:
          type: object
          properties:
            low:
              type: number
            high:
              type: number
        status:
          type: string
          enum: [registered, preliminary, final, amended, corrected, cancelled]
        effectiveDate:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    ObservationInput:
      type: object
      required:
        - patientId
        - observationType
        - code
        - value
      properties:
        patientId:
          type: string
        encounterId:
          type: string
        observationType:
          type: string
          enum: [lab, vital, imaging, other]
        code:
          type: string
        value:
          type: string
        unit:
          type: string
        referenceRange:
          type: object
          properties:
            low:
              type: number
            high:
              type: number
        status:
          type: string
          enum: [registered, preliminary, final, amended, corrected, cancelled]
        effectiveDate:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    
    ObservationUpdate:
      type: object
      properties:
        value:
          type: string
        unit:
          type: string
        referenceRange:
          type: object
          properties:
            low:
              type: number
            high:
              type: number
        status:
          type: string
          enum: [registered, preliminary, final, amended, corrected, cancelled]
        metadata:
          type: object
          additionalProperties: true
    
    Condition:
      type: object
      properties:
        id:
          type: string
        patientId:
          type: string
        code:
          type: string
          description: ICD-10 or SNOMED code
        display:
          type: string
        onsetDate:
          type: string
          format: date-time
        abatementDate:
          type: string
          format: date-time
        severity:
          type: string
        status:
          type: string
          enum: [active, recurrence, relapse, inactive, remission, resolved]
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    Medication:
      type: object
      properties:
        id:
          type: string
        patientId:
          type: string
        code:
          type: string
          description: RxNorm or NDC code
        display:
          type: string
        dosage:
          type: string
        frequency:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, stopped, completed, entered-in-error]
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    Allergy:
      type: object
      properties:
        id:
          type: string
        patientId:
          type: string
        substance:
          type: string
        reaction:
          type: string
        severity:
          type: string
          enum: [mild, moderate, severe]
        status:
          type: string
          enum: [active, inactive, resolved]
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    Procedure:
      type: object
      properties:
        id:
          type: string
        patientId:
          type: string
        code:
          type: string
          description: CPT or ICD-10-PCS code
        display:
          type: string
        performedDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [preparation, in-progress, not-done, on-hold, stopped, completed, entered-in-error, unknown]
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    Imaging:
      type: object
      properties:
        id:
          type: string
        patientId:
          type: string
        modality:
          type: string
          enum: [CT, MRI, X-Ray, Ultrasound, PET, SPECT, Mammography, Other]
        bodyPart:
          type: string
        performedDate:
          type: string
          format: date-time
        report:
          type: string
        status:
          type: string
          enum: [registered, available, cancelled, entered-in-error, unknown]
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    # Knowledge & Evidence Domain
    ClinicalRule:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        ruleType:
          type: string
          enum: [alert, recommendation, calculation, workflow]
        condition:
          type: object
          description: Rule condition logic (JSON structure)
        action:
          type: object
          description: Rule action to execute
        priority:
          type: integer
          minimum: 1
          maximum: 10
        enabled:
          type: boolean
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    ClinicalRuleInput:
      type: object
      required:
        - name
        - ruleType
        - condition
        - action
      properties:
        name:
          type: string
        description:
          type: string
        ruleType:
          type: string
          enum: [alert, recommendation, calculation, workflow]
        condition:
          type: object
        action:
          type: object
        priority:
          type: integer
          minimum: 1
          maximum: 10
        enabled:
          type: boolean
          default: true
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    ClinicalRuleUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        condition:
          type: object
        action:
          type: object
        priority:
          type: integer
          minimum: 1
          maximum: 10
        enabled:
          type: boolean
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    ClinicalGuideline:
      type: object
      required:
        - id
        - title
        - createdAt
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        organization:
          type: string
        publicationDate:
          type: string
          format: date
        effectiveDate:
          type: string
          format: date
        version:
          type: string
        url:
          type: string
          format: uri
        category:
          type: string
        keywords:
          type: array
          items:
            type: string
        content:
          type: object
          description: Structured guideline content
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    ClinicalGuidelineInput:
      type: object
      required:
        - title
        - organization
      properties:
        title:
          type: string
        description:
          type: string
        organization:
          type: string
        publicationDate:
          type: string
          format: date
        effectiveDate:
          type: string
          format: date
        version:
          type: string
        url:
          type: string
          format: uri
        category:
          type: string
        keywords:
          type: array
          items:
            type: string
        content:
          type: object
        metadata:
          type: object
          additionalProperties: true
    
    ClinicalGuidelineUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        effectiveDate:
          type: string
          format: date
        version:
          type: string
        url:
          type: string
          format: uri
        category:
          type: string
        keywords:
          type: array
          items:
            type: string
        content:
          type: object
        metadata:
          type: object
          additionalProperties: true
    
    ModelDefinition:
      type: object
      required:
        - id
        - name
        - modelType
        - createdAt
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        modelType:
          type: string
          enum: [diagnostic, prognostic, treatment, risk-assessment, other]
        algorithm:
          type: string
        framework:
          type: string
        currentVersion:
          type: string
        status:
          type: string
          enum: [draft, active, deprecated, archived]
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    ModelDefinitionInput:
      type: object
      required:
        - name
        - modelType
      properties:
        name:
          type: string
        description:
          type: string
        modelType:
          type: string
          enum: [diagnostic, prognostic, treatment, risk-assessment, other]
        algorithm:
          type: string
        framework:
          type: string
        currentVersion:
          type: string
        status:
          type: string
          enum: [draft, active, deprecated, archived]
          default: draft
        metadata:
          type: object
          additionalProperties: true
    
    ModelDefinitionUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        currentVersion:
          type: string
        status:
          type: string
          enum: [draft, active, deprecated, archived]
        metadata:
          type: object
          additionalProperties: true
    
    ModelVersion:
      type: object
      properties:
        id:
          type: string
        modelId:
          type: string
        version:
          type: string
        artifactUrl:
          type: string
          format: uri
        performanceMetrics:
          type: object
        trainingDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [training, validated, deployed, deprecated]
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    OntologyTerm:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        display:
          type: string
        system:
          type: string
          description: Coding system (e.g., SNOMED-CT, LOINC, ICD-10)
        parentId:
          type: string
        level:
          type: integer
        metadata:
          type: object
          additionalProperties: true
    
    # Decision Intelligence Domain
    DecisionRequest:
      type: object
      required:
        - id
        - patientId
        - requestType
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        requestType:
          type: string
          enum: [diagnostic, treatment, risk-assessment, pathway-selection]
        context:
          type: object
          description: Clinical context and input data
        status:
          type: string
          enum: [pending, processing, completed, failed]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    DecisionRequestInput:
      type: object
      required:
        - patientId
        - requestType
        - context
      properties:
        patientId:
          type: string
        requestType:
          type: string
          enum: [diagnostic, treatment, risk-assessment, pathway-selection]
        context:
          type: object
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        metadata:
          type: object
          additionalProperties: true
    
    DecisionResponse:
      type: object
      properties:
        id:
          type: string
        decisionRequestId:
          type: string
        responseType:
          type: string
        result:
          type: object
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        modelId:
          type: string
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    DecisionExplanation:
      type: object
      properties:
        id:
          type: string
        decisionRequestId:
          type: string
        explanationType:
          type: string
          enum: [feature-importance, rule-trace, evidence-summary, model-reasoning]
        content:
          type: object
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    RiskScore:
      type: object
      required:
        - id
        - patientId
        - scoreType
        - score
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        scoreType:
          type: string
          enum: [mortality, readmission, complication, disease-progression, other]
        score:
          type: number
          format: float
        scoreRange:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
        interpretation:
          type: string
        factors:
          type: array
          items:
            type: object
        modelId:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    RiskScoreInput:
      type: object
      required:
        - patientId
        - scoreType
        - score
      properties:
        patientId:
          type: string
        scoreType:
          type: string
          enum: [mortality, readmission, complication, disease-progression, other]
        score:
          type: number
          format: float
        scoreRange:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
        interpretation:
          type: string
        factors:
          type: array
          items:
            type: object
        modelId:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    DiagnosticSuggestion:
      type: object
      required:
        - id
        - patientId
        - diagnosis
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        diagnosis:
          type: object
          properties:
            code:
              type: string
            display:
              type: string
            system:
              type: string
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        differentialDiagnoses:
          type: array
          items:
            type: object
        evidence:
          type: array
          items:
            type: object
        modelId:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    DiagnosticSuggestionInput:
      type: object
      required:
        - patientId
        - diagnosis
      properties:
        patientId:
          type: string
        diagnosis:
          type: object
          properties:
            code:
              type: string
            display:
              type: string
            system:
              type: string
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        differentialDiagnoses:
          type: array
          items:
            type: object
        evidence:
          type: array
          items:
            type: object
        modelId:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    TreatmentRecommendation:
      type: object
      required:
        - id
        - patientId
        - treatment
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        treatment:
          type: object
          properties:
            code:
              type: string
            display:
              type: string
            type:
              type: string
              enum: [medication, procedure, therapy, lifestyle, other]
        rationale:
          type: string
        evidenceLevel:
          type: string
          enum: [A, B, C, D]
        contraindications:
          type: array
          items:
            type: string
        alternatives:
          type: array
          items:
            type: object
        modelId:
          type: string
        guidelineId:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    TreatmentRecommendationInput:
      type: object
      required:
        - patientId
        - treatment
      properties:
        patientId:
          type: string
        treatment:
          type: object
          properties:
            code:
              type: string
            display:
              type: string
            type:
              type: string
              enum: [medication, procedure, therapy, lifestyle, other]
        rationale:
          type: string
        evidenceLevel:
          type: string
          enum: [A, B, C, D]
        contraindications:
          type: array
          items:
            type: string
        alternatives:
          type: array
          items:
            type: object
        modelId:
          type: string
        guidelineId:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    # Workflow & Care Pathways Domain
    Alert:
      type: object
      required:
        - id
        - patientId
        - alertType
        - severity
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        alertType:
          type: string
          enum: [drug-interaction, allergy, critical-value, clinical-rule, other]
        severity:
          type: string
          enum: [low, medium, high, critical]
        title:
          type: string
        message:
          type: string
        status:
          type: string
          enum: [active, acknowledged, resolved, dismissed]
        acknowledgedBy:
          type: string
        acknowledgedAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    AlertInput:
      type: object
      required:
        - patientId
        - alertType
        - severity
        - title
        - message
      properties:
        patientId:
          type: string
        alertType:
          type: string
          enum: [drug-interaction, allergy, critical-value, clinical-rule, other]
        severity:
          type: string
          enum: [low, medium, high, critical]
        title:
          type: string
        message:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    AlertUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [active, acknowledged, resolved, dismissed]
        acknowledgedBy:
          type: string
        acknowledgedAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    
    CarePlan:
      type: object
      required:
        - id
        - patientId
        - createdAt
      properties:
        id:
          type: string
        patientId:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, suspended, completed, cancelled]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        category:
          type: string
        goals:
          type: array
          items:
            type: object
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    CarePlanInput:
      type: object
      required:
        - patientId
        - title
      properties:
        patientId:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, suspended, completed, cancelled]
          default: draft
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        category:
          type: string
        goals:
          type: array
          items:
            type: object
        metadata:
          type: object
          additionalProperties: true
    
    CarePlanUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, suspended, completed, cancelled]
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        category:
          type: string
        goals:
          type: array
          items:
            type: object
        metadata:
          type: object
          additionalProperties: true
    
    Task:
      type: object
      required:
        - id
        - createdAt
      properties:
        id:
          type: string
        carePlanId:
          type: string
        patientId:
          type: string
        title:
          type: string
        description:
          type: string
        taskType:
          type: string
          enum: [medication, procedure, lab-order, appointment, education, other]
        status:
          type: string
          enum: [draft, ready, in-progress, on-hold, completed, cancelled]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        dueDate:
          type: string
          format: date-time
        assignedTo:
          type: string
        completedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    TaskInput:
      type: object
      required:
        - title
        - taskType
      properties:
        carePlanId:
          type: string
        patientId:
          type: string
        title:
          type: string
        description:
          type: string
        taskType:
          type: string
          enum: [medication, procedure, lab-order, appointment, education, other]
        status:
          type: string
          enum: [draft, ready, in-progress, on-hold, completed, cancelled]
          default: draft
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        dueDate:
          type: string
          format: date-time
        assignedTo:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    TaskUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, ready, in-progress, on-hold, completed, cancelled]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        dueDate:
          type: string
          format: date-time
        assignedTo:
          type: string
        completedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    
    ClinicalPathway:
      type: object
      required:
        - id
        - name
        - createdAt
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        steps:
          type: array
          items:
            type: object
        status:
          type: string
          enum: [draft, active, deprecated]
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    ClinicalPathwayInput:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        steps:
          type: array
          items:
            type: object
        status:
          type: string
          enum: [draft, active, deprecated]
          default: draft
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    ClinicalPathwayUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        steps:
          type: array
          items:
            type: object
        status:
          type: string
          enum: [draft, active, deprecated]
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    # Integration & Interoperability Domain
    FHIRBundle:
      type: object
      required:
        - id
        - bundleType
        - createdAt
      properties:
        id:
          type: string
        bundleType:
          type: string
          enum: [document, message, transaction, transaction-response, batch, batch-response, history, searchset, collection]
        resources:
          type: array
          items:
            type: object
        status:
          type: string
          enum: [received, processing, completed, failed]
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    FHIRBundleInput:
      type: object
      required:
        - bundleType
        - resources
      properties:
        bundleType:
          type: string
          enum: [document, message, transaction, transaction-response, batch, batch-response, history, searchset, collection]
        resources:
          type: array
          items:
            type: object
        metadata:
          type: object
          additionalProperties: true
    
    HL7Message:
      type: object
      required:
        - id
        - messageType
        - createdAt
      properties:
        id:
          type: string
        messageType:
          type: string
          description: HL7 message type (e.g., ADT^A01)
        rawMessage:
          type: string
        parsedMessage:
          type: object
        status:
          type: string
          enum: [received, parsed, processed, failed]
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    HL7MessageInput:
      type: object
      required:
        - rawMessage
      properties:
        rawMessage:
          type: string
          description: Raw HL7 v2 message text
        metadata:
          type: object
          additionalProperties: true
    
    ExternalDataSource:
      type: object
      required:
        - id
        - name
        - sourceType
        - createdAt
      properties:
        id:
          type: string
        name:
          type: string
        sourceType:
          type: string
          enum: [ehr, lab-system, imaging-system, pharmacy, registry, other]
        connectionConfig:
          type: object
          description: Connection configuration (credentials, endpoints, etc.)
        status:
          type: string
          enum: [active, inactive, error]
        lastSyncAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    ExternalDataSourceInput:
      type: object
      required:
        - name
        - sourceType
        - connectionConfig
      properties:
        name:
          type: string
        sourceType:
          type: string
          enum: [ehr, lab-system, imaging-system, pharmacy, registry, other]
        connectionConfig:
          type: object
        status:
          type: string
          enum: [active, inactive, error]
          default: active
        metadata:
          type: object
          additionalProperties: true
    
    ExternalDataSourceUpdate:
      type: object
      properties:
        name:
          type: string
        connectionConfig:
          type: object
        status:
          type: string
          enum: [active, inactive, error]
        metadata:
          type: object
          additionalProperties: true
    
    ImportJob:
      type: object
      required:
        - id
        - dataSourceId
        - status
        - createdAt
      properties:
        id:
          type: string
        dataSourceId:
          type: string
        jobType:
          type: string
          enum: [full, incremental, manual]
        status:
          type: string
          enum: [pending, running, completed, failed, cancelled]
        progress:
          type: number
          format: float
          minimum: 0
          maximum: 100
        recordsProcessed:
          type: integer
        recordsTotal:
          type: integer
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        errorMessage:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    ImportJobInput:
      type: object
      required:
        - dataSourceId
        - jobType
      properties:
        dataSourceId:
          type: string
        jobType:
          type: string
          enum: [full, incremental, manual]
        metadata:
          type: object
          additionalProperties: true
    
    ImportJobUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [pending, running, completed, failed, cancelled]
        progress:
          type: number
          format: float
          minimum: 0
          maximum: 100
        recordsProcessed:
          type: integer
        recordsTotal:
          type: integer
        errorMessage:
          type: string
        metadata:
          type: object
          additionalProperties: true
    
    AuditEvent:
      type: object
      required:
        - id
        - eventType
        - createdAt
      properties:
        id:
          type: string
        eventType:
          type: string
          enum: [create, read, update, delete, access, export, import, decision, alert]
        entityType:
          type: string
        entityId:
          type: string
        userId:
          type: string
        userRole:
          type: string
        ipAddress:
          type: string
        userAgent:
          type: string
        details:
          type: object
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
          description: Resource creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Resource last update timestamp
    
    AuditEventInput:
      type: object
      required:
        - eventType
        - entityType
        - entityId
        - userId
      properties:
        eventType:
          type: string
          enum: [create, read, update, delete, access, export, import, decision, alert]
        entityType:
          type: string
        entityId:
          type: string
        userId:
          type: string
        userRole:
          type: string
        ipAddress:
          type: string
        userAgent:
          type: string
        details:
          type: object
        metadata:
          type: object
          additionalProperties: true
    
    AuditEventUpdate:
      type: object
      properties:
        details:
          type: object
        metadata:
          type: object
          additionalProperties: true
    
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

security:
  - BearerAuth: []
  - OAuth2: []

