openapi: 3.1.0
info:
  title: Clinical Decision Engine - Patient & Clinical Data Domain API
  version: 1.0.0
  description: |
    Patient & Clinical Data Domain API for the Clinical Decision Engine.
    Part of the CuurAI MCP ecosystem.

    ## REST Pattern
    - **GET /entity** → List resources
    - **GET /entity/:id** → Get resource detail
    - **POST /entity** → Create resource
    - **PATCH /entity/:id** → Update resource
    - **DELETE /entity/:id** → Delete resource
    - **GET /entity/:id/sub-entity** → List child resources
  contact:
    name: CuurAI MCP Team
  license:
    name: Proprietary
servers:
  - url: https://api.cuurai.com/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local development
tags:
  - name: Patients
    description: Master patient demographic & identifier records
  - name: Encounters
    description: Clinical interactions (visits, admissions, telehealth)
  - name: Conditions
    description: Problems, diagnoses, and coded conditions
  - name: Allergies
    description: Allergies and intolerances
  - name: Medication Statements
    description: Current and historical medications
  - name: Medication Orders
    description: Prescriptions and medication orders
  - name: Immunizations
    description: Vaccination history
  - name: Observations
    description: Clinical measurements (vitals, labs, scores)
  - name: Diagnostic Reports
    description: Lab and imaging reports
  - name: Imaging Studies
    description: Imaging exams (X-ray, CT, MRI, ultrasound)
  - name: Procedures
    description: Surgeries and interventions
  - name: Clinical Notes
    description: Unstructured or semi-structured notes
  - name: Care Teams
    description: Clinicians and roles
  - name: Documents
    description: External clinical documents
paths:
  /patients:
    get:
      tags:
        - Patients
      summary: List patients
      operationId: listPatients
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          schema:
            type: string
          description: Search by name, MRN, or identifier
      responses:
        '200':
          description: List of patients
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PatientList'
    post:
      tags:
        - Patients
      summary: Create patient
      operationId: createPatient
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PatientInput'
      responses:
        '201':
          description: Patient created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
  /patients/{id}:
    get:
      tags:
        - Patients
      summary: Get patient by ID
      operationId: getPatient
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Patient details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Patient'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Patients
      summary: Update patient
      operationId: updatePatient
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/PatientUpdate'
      responses:
        '200':
          description: Patient updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Patient'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Patients
      summary: Delete patient
      operationId: deletePatient
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Patient deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /patients/{id}/summary:
    get:
      tags:
        - Patients
      summary: Get patient summary
      operationId: getPatientSummary
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Patient summary
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PatientSummary'
        '404':
          $ref: '#/components/responses/NotFound'
  /patients/{id}/encounters:
    get:
      tags:
        - Patients
      summary: List patient encounters
      operationId: listPatientEncounters
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of encounters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Encounter'
  /patients/{id}/conditions:
    get:
      tags:
        - Patients
      summary: List patient conditions
      operationId: listPatientConditions
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of conditions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Condition'
  /patients/{id}/allergies:
    get:
      tags:
        - Patients
      summary: List patient allergies
      operationId: listPatientAllergies
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of allergies
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Allergy'
  /patients/{id}/medications:
    get:
      tags:
        - Patients
      summary: List patient medication statements
      operationId: listPatientMedications
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of medication statements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/MedicationStatement'
  /patients/{id}/immunizations:
    get:
      tags:
        - Patients
      summary: List patient immunizations
      operationId: listPatientImmunizations
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of immunizations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Immunization'
  /patients/{id}/observations:
    get:
      tags:
        - Patients
      summary: List patient observations
      operationId: listPatientObservations
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: category
          in: query
          schema:
            type: string
            enum:
              - vital-sign
              - laboratory
              - exam
              - survey
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Observation'
  /patients/{id}/observations/vitals:
    get:
      tags:
        - Patients
      summary: List patient vital signs
      operationId: listPatientVitals
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of vital signs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Observation'
  /patients/{id}/observations/labs:
    get:
      tags:
        - Patients
      summary: List patient lab results
      operationId: listPatientLabs
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of lab results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Observation'
  /patients/{id}/diagnostic-reports:
    get:
      tags:
        - Patients
      summary: List patient diagnostic reports
      operationId: listPatientDiagnosticReports
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of diagnostic reports
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/DiagnosticReport'
  /patients/{id}/procedures:
    get:
      tags:
        - Patients
      summary: List patient procedures
      operationId: listPatientProcedures
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of procedures
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Procedure'
  /patients/{id}/notes:
    get:
      tags:
        - Patients
      summary: List patient clinical notes
      operationId: listPatientNotes
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of clinical notes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/ClinicalNote'
  /patients/{id}/care-team:
    get:
      tags:
        - Patients
      summary: List patient care team
      operationId: listPatientCareTeam
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of care team members
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/CareTeamMember'
  /patients/{id}/documents:
    get:
      tags:
        - Patients
      summary: List patient documents
      operationId: listPatientDocuments
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of documents
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/DocumentReference'
  /encounters:
    get:
      tags:
        - Encounters
      summary: List encounters
      operationId: listEncounters
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - planned
              - arrived
              - triaged
              - in-progress
              - onleave
              - finished
              - cancelled
      responses:
        '200':
          description: List of encounters
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Encounter'
    post:
      tags:
        - Encounters
      summary: Create encounter
      operationId: createEncounter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/EncounterInput'
      responses:
        '201':
          description: Encounter created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Encounter'
        '400':
          $ref: '#/components/responses/BadRequest'
  /encounters/{id}:
    get:
      tags:
        - Encounters
      summary: Get encounter by ID
      operationId: getEncounter
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Encounter details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Encounter'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Encounters
      summary: Update encounter
      operationId: updateEncounter
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/EncounterUpdate'
      responses:
        '200':
          description: Encounter updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Encounter'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Encounters
      summary: Delete encounter
      operationId: deleteEncounter
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Encounter deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /encounters/{id}/conditions:
    get:
      tags:
        - Encounters
      summary: List encounter conditions
      operationId: listEncounterConditions
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of conditions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Condition'
  /encounters/{id}/observations:
    get:
      tags:
        - Encounters
      summary: List encounter observations
      operationId: listEncounterObservations
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Observation'
  /encounters/{id}/diagnostic-reports:
    get:
      tags:
        - Encounters
      summary: List encounter diagnostic reports
      operationId: listEncounterDiagnosticReports
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of diagnostic reports
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/DiagnosticReport'
  /encounters/{id}/procedures:
    get:
      tags:
        - Encounters
      summary: List encounter procedures
      operationId: listEncounterProcedures
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of procedures
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Procedure'
  /encounters/{id}/notes:
    get:
      tags:
        - Encounters
      summary: List encounter notes
      operationId: listEncounterNotes
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of notes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/ClinicalNote'
  /conditions:
    get:
      tags:
        - Conditions
      summary: List conditions
      operationId: listConditions
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - recurrence
              - relapse
              - inactive
              - remission
              - resolved
      responses:
        '200':
          description: List of conditions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Condition'
    post:
      tags:
        - Conditions
      summary: Create condition
      operationId: createCondition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ConditionInput'
      responses:
        '201':
          description: Condition created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Condition'
        '400':
          $ref: '#/components/responses/BadRequest'
  /conditions/{id}:
    get:
      tags:
        - Conditions
      summary: Get condition by ID
      operationId: getCondition
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Condition details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Condition'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Conditions
      summary: Update condition
      operationId: updateCondition
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ConditionUpdate'
      responses:
        '200':
          description: Condition updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Condition'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Conditions
      summary: Delete condition
      operationId: deleteCondition
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Condition deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /conditions/{id}/notes:
    get:
      tags:
        - Conditions
      summary: List condition notes
      operationId: listConditionNotes
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of notes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/ClinicalNote'
  /allergies:
    get:
      tags:
        - Allergies
      summary: List allergies
      operationId: listAllergies
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - inactive
              - resolved
      responses:
        '200':
          description: List of allergies
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Allergy'
    post:
      tags:
        - Allergies
      summary: Create allergy
      operationId: createAllergy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AllergyInput'
      responses:
        '201':
          description: Allergy created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Allergy'
        '400':
          $ref: '#/components/responses/BadRequest'
  /allergies/{id}:
    get:
      tags:
        - Allergies
      summary: Get allergy by ID
      operationId: getAllergy
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Allergy details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Allergy'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Allergies
      summary: Update allergy
      operationId: updateAllergy
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/AllergyUpdate'
      responses:
        '200':
          description: Allergy updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Allergy'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Allergies
      summary: Delete allergy
      operationId: deleteAllergy
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Allergy deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /medication-statements:
    get:
      tags:
        - Medication Statements
      summary: List medication statements
      operationId: listMedicationStatements
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - completed
              - entered-in-error
              - intended
              - stopped
              - on-hold
              - unknown
      responses:
        '200':
          description: List of medication statements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/MedicationStatement'
    post:
      tags:
        - Medication Statements
      summary: Create medication statement
      operationId: createMedicationStatement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MedicationStatementInput'
      responses:
        '201':
          description: Medication statement created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MedicationStatement'
        '400':
          $ref: '#/components/responses/BadRequest'
  /medication-statements/{id}:
    get:
      tags:
        - Medication Statements
      summary: Get medication statement by ID
      operationId: getMedicationStatement
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Medication statement details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MedicationStatement'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Medication Statements
      summary: Update medication statement
      operationId: updateMedicationStatement
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MedicationStatementUpdate'
      responses:
        '200':
          description: Medication statement updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MedicationStatement'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Medication Statements
      summary: Delete medication statement
      operationId: deleteMedicationStatement
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Medication statement deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /medication-orders:
    get:
      tags:
        - Medication Orders
      summary: List medication orders
      operationId: listMedicationOrders
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - active
              - on-hold
              - cancelled
              - completed
              - entered-in-error
              - stopped
              - draft
              - unknown
      responses:
        '200':
          description: List of medication orders
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/MedicationOrder'
    post:
      tags:
        - Medication Orders
      summary: Create medication order
      operationId: createMedicationOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MedicationOrderInput'
      responses:
        '201':
          description: Medication order created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MedicationOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
  /medication-orders/{id}:
    get:
      tags:
        - Medication Orders
      summary: Get medication order by ID
      operationId: getMedicationOrder
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Medication order details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MedicationOrder'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Medication Orders
      summary: Update medication order
      operationId: updateMedicationOrder
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/MedicationOrderUpdate'
      responses:
        '200':
          description: Medication order updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MedicationOrder'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Medication Orders
      summary: Delete medication order
      operationId: deleteMedicationOrder
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Medication order deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /medication-orders/{id}/administrations:
    get:
      tags:
        - Medication Orders
      summary: List medication administrations
      operationId: listMedicationAdministrations
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of administrations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/MedicationAdministration'
  /immunizations:
    get:
      tags:
        - Immunizations
      summary: List immunizations
      operationId: listImmunizations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - completed
              - entered-in-error
              - not-done
      responses:
        '200':
          description: List of immunizations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Immunization'
    post:
      tags:
        - Immunizations
      summary: Create immunization
      operationId: createImmunization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ImmunizationInput'
      responses:
        '201':
          description: Immunization created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Immunization'
        '400':
          $ref: '#/components/responses/BadRequest'
  /immunizations/{id}:
    get:
      tags:
        - Immunizations
      summary: Get immunization by ID
      operationId: getImmunization
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Immunization details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Immunization'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Immunizations
      summary: Update immunization
      operationId: updateImmunization
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ImmunizationUpdate'
      responses:
        '200':
          description: Immunization updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Immunization'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Immunizations
      summary: Delete immunization
      operationId: deleteImmunization
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Immunization deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /observations:
    get:
      tags:
        - Observations
      summary: List observations
      operationId: listObservations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: encounterId
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
            enum:
              - vital-sign
              - laboratory
              - exam
              - survey
        - name: code
          in: query
          schema:
            type: string
            description: LOINC code
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Observation'
    post:
      tags:
        - Observations
      summary: Create observation
      operationId: createObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ObservationInput'
      responses:
        '201':
          description: Observation created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Observation'
        '400':
          $ref: '#/components/responses/BadRequest'
  /observations/{id}:
    get:
      tags:
        - Observations
      summary: Get observation by ID
      operationId: getObservation
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Observation details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Observation'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Observations
      summary: Update observation
      operationId: updateObservation
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ObservationUpdate'
      responses:
        '200':
          description: Observation updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Observation'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Observations
      summary: Delete observation
      operationId: deleteObservation
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Observation deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /diagnostic-reports:
    get:
      tags:
        - Diagnostic Reports
      summary: List diagnostic reports
      operationId: listDiagnosticReports
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: encounterId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - registered
              - partial
              - preliminary
              - final
              - amended
              - corrected
              - appended
              - cancelled
              - entered-in-error
              - unknown
      responses:
        '200':
          description: List of diagnostic reports
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/DiagnosticReport'
    post:
      tags:
        - Diagnostic Reports
      summary: Create diagnostic report
      operationId: createDiagnosticReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DiagnosticReportInput'
      responses:
        '201':
          description: Diagnostic report created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DiagnosticReport'
        '400':
          $ref: '#/components/responses/BadRequest'
  /diagnostic-reports/{id}:
    get:
      tags:
        - Diagnostic Reports
      summary: Get diagnostic report by ID
      operationId: getDiagnosticReport
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Diagnostic report details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DiagnosticReport'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Diagnostic Reports
      summary: Update diagnostic report
      operationId: updateDiagnosticReport
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DiagnosticReportUpdate'
      responses:
        '200':
          description: Diagnostic report updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DiagnosticReport'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Diagnostic Reports
      summary: Delete diagnostic report
      operationId: deleteDiagnosticReport
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Diagnostic report deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /diagnostic-reports/{id}/observations:
    get:
      tags:
        - Diagnostic Reports
      summary: List diagnostic report observations
      operationId: listDiagnosticReportObservations
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Observation'
  /diagnostic-reports/{id}/imaging-studies:
    get:
      tags:
        - Diagnostic Reports
      summary: List diagnostic report imaging studies
      operationId: listDiagnosticReportImagingStudies
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of imaging studies
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/ImagingStudy'
  /imaging-studies:
    get:
      tags:
        - Imaging Studies
      summary: List imaging studies
      operationId: listImagingStudies
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: modality
          in: query
          schema:
            type: string
            enum:
              - CR
              - CT
              - MR
              - US
              - MG
              - PT
              - NM
              - XR
              - DX
              - OT
      responses:
        '200':
          description: List of imaging studies
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/ImagingStudy'
    post:
      tags:
        - Imaging Studies
      summary: Create imaging study
      operationId: createImagingStudy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ImagingStudyInput'
      responses:
        '201':
          description: Imaging study created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ImagingStudy'
        '400':
          $ref: '#/components/responses/BadRequest'
  /imaging-studies/{id}:
    get:
      tags:
        - Imaging Studies
      summary: Get imaging study by ID
      operationId: getImagingStudy
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Imaging study details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ImagingStudy'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Imaging Studies
      summary: Update imaging study
      operationId: updateImagingStudy
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ImagingStudyUpdate'
      responses:
        '200':
          description: Imaging study updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ImagingStudy'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Imaging Studies
      summary: Delete imaging study
      operationId: deleteImagingStudy
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Imaging study deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /imaging-studies/{id}/series:
    get:
      tags:
        - Imaging Studies
      summary: List imaging study series
      operationId: listImagingStudySeries
      parameters:
        - $ref: '#/components/parameters/IdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: List of series
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/ImagingSeries'
  /procedures:
    get:
      tags:
        - Procedures
      summary: List procedures
      operationId: listProcedures
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - preparation
              - in-progress
              - not-done
              - on-hold
              - stopped
              - completed
              - entered-in-error
              - unknown
      responses:
        '200':
          description: List of procedures
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/Procedure'
    post:
      tags:
        - Procedures
      summary: Create procedure
      operationId: createProcedure
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProcedureInput'
      responses:
        '201':
          description: Procedure created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Procedure'
        '400':
          $ref: '#/components/responses/BadRequest'
  /procedures/{id}:
    get:
      tags:
        - Procedures
      summary: Get procedure by ID
      operationId: getProcedure
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Procedure details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Procedure'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Procedures
      summary: Update procedure
      operationId: updateProcedure
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ProcedureUpdate'
      responses:
        '200':
          description: Procedure updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Procedure'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Procedures
      summary: Delete procedure
      operationId: deleteProcedure
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Procedure deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /notes:
    get:
      tags:
        - Clinical Notes
      summary: List clinical notes
      operationId: listNotes
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: encounterId
          in: query
          schema:
            type: string
        - name: noteType
          in: query
          schema:
            type: string
            enum:
              - history-physical
              - progress
              - discharge
              - consultation
              - procedure
              - other
      responses:
        '200':
          description: List of clinical notes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/ClinicalNote'
    post:
      tags:
        - Clinical Notes
      summary: Create clinical note
      operationId: createNote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ClinicalNoteInput'
      responses:
        '201':
          description: Clinical note created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ClinicalNote'
        '400':
          $ref: '#/components/responses/BadRequest'
  /notes/{id}:
    get:
      tags:
        - Clinical Notes
      summary: Get clinical note by ID
      operationId: getNote
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Clinical note details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ClinicalNote'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Clinical Notes
      summary: Update clinical note
      operationId: updateNote
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/ClinicalNoteUpdate'
      responses:
        '200':
          description: Clinical note updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ClinicalNote'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Clinical Notes
      summary: Delete clinical note
      operationId: deleteNote
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Clinical note deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /care-teams:
    get:
      tags:
        - Care Teams
      summary: List care teams
      operationId: listCareTeams
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: encounterId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - proposed
              - active
              - suspended
              - inactive
              - entered-in-error
      responses:
        '200':
          description: List of care teams
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/CareTeam'
    post:
      tags:
        - Care Teams
      summary: Create care team
      operationId: createCareTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CareTeamInput'
      responses:
        '201':
          description: Care team created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CareTeam'
        '400':
          $ref: '#/components/responses/BadRequest'
  /care-teams/{id}:
    get:
      tags:
        - Care Teams
      summary: Get care team by ID
      operationId: getCareTeam
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Care team details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CareTeam'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Care Teams
      summary: Update care team
      operationId: updateCareTeam
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/CareTeamUpdate'
      responses:
        '200':
          description: Care team updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CareTeam'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Care Teams
      summary: Delete care team
      operationId: deleteCareTeam
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Care team deleted
        '404':
          $ref: '#/components/responses/NotFound'
  /documents:
    get:
      tags:
        - Documents
      summary: List document references
      operationId: listDocuments
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: patientId
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum:
              - current
              - superseded
              - entered-in-error
      responses:
        '200':
          description: List of document references
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiListResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: '#/components/schemas/DocumentReference'
    post:
      tags:
        - Documents
      summary: Create document reference
      operationId: createDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DocumentReferenceInput'
      responses:
        '201':
          description: Document reference created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DocumentReference'
        '400':
          $ref: '#/components/responses/BadRequest'
  /documents/{id}:
    get:
      tags:
        - Documents
      summary: Get document reference by ID
      operationId: getDocument
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '200':
          description: Document reference details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DocumentReference'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - Documents
      summary: Update document reference
      operationId: updateDocument
      parameters:
        - $ref: '#/components/parameters/IdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/PatApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/DocumentReferenceUpdate'
      responses:
        '200':
          description: Document reference updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PatApiResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DocumentReference'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Documents
      summary: Delete document reference
      operationId: deleteDocument
      parameters:
        - $ref: '#/components/parameters/IdParam'
      responses:
        '204':
          description: Document reference deleted
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: string
        pattern: ^[a-zA-Z0-9_-]+$
        example: pat_1234567890
    PageParam:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    LimitParam:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/PatApiResponse'
              - type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/PatApiResponse'
              - type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
    PatApiMeta:
      type: object
      description: Response metadata with correlation tracking
      properties:
        correlationId:
          type: string
          description: Unique identifier for request-response correlation
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
        totalCount:
          type: integer
          description: Total count of items (for list responses)
        pageSize:
          type: integer
          description: Number of items per page
        pageNumber:
          type: integer
          description: Current page number
    PatApiResponse:
      type: object
      required:
        - meta
      properties:
        meta:
          $ref: '#/components/schemas/PatApiMeta'
    PatApiListResponse:
      type: object
      properties:
        data:
          type: object
          description: Paginated data container
          properties:
            items:
              type: array
              description: List of items
              items: {}
          required:
            - items
        meta:
          allOf:
            - $ref: '#/components/schemas/PatApiMeta'
            - type: object
              properties:
                pagination:
                  type: object
                  description: Pagination metadata
                  properties:
                    nextCursor:
                      type: string
                      nullable: true
                    prevCursor:
                      type: string
                      nullable: true
                    limit:
                      type: integer
      required:
        - data
        - meta
    Timestamps:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Patient:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - patientId
          properties:
            id:
              type: string
            patientId:
              type: string
              description: Medical Record Number (MRN)
            identifiers:
              type: array
              items:
                $ref: '#/components/schemas/Identifier'
            name:
              $ref: '#/components/schemas/HumanName'
            gender:
              type: string
              enum:
                - male
                - female
                - other
                - unknown
            birthDate:
              type: string
              format: date
            address:
              type: array
              items:
                $ref: '#/components/schemas/Address'
            telecom:
              type: array
              items:
                $ref: '#/components/schemas/ContactPoint'
            maritalStatus:
              type: string
            deceasedBoolean:
              type: boolean
            deceasedDateTime:
              type: string
              format: date-time
    PatientInput:
      type: object
      required:
        - patientId
      properties:
        patientId:
          type: string
        identifiers:
          type: array
          items:
            $ref: '#/components/schemas/Identifier'
        name:
          $ref: '#/components/schemas/HumanName'
        gender:
          type: string
          enum:
            - male
            - female
            - other
            - unknown
        birthDate:
          type: string
          format: date
        address:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        telecom:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
    PatientUpdate:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/HumanName'
        gender:
          type: string
          enum:
            - male
            - female
            - other
            - unknown
        address:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        telecom:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
    PatientList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Patient'
        pagination:
          $ref: '#/components/schemas/Pagination'
    PatientSummary:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/Patient'
        activeConditions:
          type: integer
        activeMedications:
          type: integer
        recentEncounters:
          type: integer
        lastEncounterDate:
          type: string
          format: date-time
    Encounter:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - patientId
            - status
          properties:
            id:
              type: string
            patientId:
              type: string
            status:
              type: string
              enum:
                - planned
                - arrived
                - triaged
                - in-progress
                - onleave
                - finished
                - cancelled
            class:
              type: string
              enum:
                - inpatient
                - outpatient
                - emergency
                - ambulatory
                - virtual
            type:
              type: array
              items:
                $ref: '#/components/schemas/CodeableConcept'
            period:
              $ref: '#/components/schemas/Period'
            length:
              $ref: '#/components/schemas/Duration'
    EncounterInput:
      type: object
      required:
        - patientId
        - status
        - class
      properties:
        patientId:
          type: string
        status:
          type: string
          enum:
            - planned
            - arrived
            - triaged
            - in-progress
            - onleave
            - finished
            - cancelled
        class:
          type: string
          enum:
            - inpatient
            - outpatient
            - emergency
            - ambulatory
            - virtual
        type:
          type: array
          items:
            $ref: '#/components/schemas/CodeableConcept'
        period:
          $ref: '#/components/schemas/Period'
    EncounterUpdate:
      type: object
      properties:
        status:
          type: string
          enum:
            - planned
            - arrived
            - triaged
            - in-progress
            - onleave
            - finished
            - cancelled
        period:
          $ref: '#/components/schemas/Period'
    Condition:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - patientId
            - code
          properties:
            id:
              type: string
            patientId:
              type: string
            encounterId:
              type: string
            code:
              $ref: '#/components/schemas/CodeableConcept'
            severity:
              $ref: '#/components/schemas/CodeableConcept'
            onsetDateTime:
              type: string
              format: date-time
            abatementDateTime:
              type: string
              format: date-time
            recordedDate:
              type: string
              format: date-time
            status:
              type: string
              enum:
                - active
                - recurrence
                - relapse
                - inactive
                - remission
                - resolved
    ConditionInput:
      type: object
      required:
        - patientId
        - code
      properties:
        patientId:
          type: string
        encounterId:
          type: string
        code:
          $ref: '#/components/schemas/CodeableConcept'
        severity:
          $ref: '#/components/schemas/CodeableConcept'
        onsetDateTime:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - active
            - recurrence
            - relapse
            - inactive
            - remission
            - resolved
          default: active
    ConditionUpdate:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/CodeableConcept'
        severity:
          $ref: '#/components/schemas/CodeableConcept'
        abatementDateTime:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - active
            - recurrence
            - relapse
            - inactive
            - remission
            - resolved
    Allergy:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - patientId
            - code
          properties:
            id:
              type: string
            patientId:
              type: string
            code:
              $ref: '#/components/schemas/CodeableConcept'
            reaction:
              type: array
              items:
                $ref: '#/components/schemas/AllergyReaction'
            criticality:
              type: string
              enum:
                - low
                - high
                - unable-to-assess
            status:
              type: string
              enum:
                - active
                - inactive
                - resolved
    AllergyInput:
      type: object
      required:
        - patientId
        - code
      properties:
        patientId:
          type: string
        code:
          $ref: '#/components/schemas/CodeableConcept'
        reaction:
          type: array
          items:
            $ref: '#/components/schemas/AllergyReaction'
        criticality:
          type: string
          enum:
            - low
            - high
            - unable-to-assess
        status:
          type: string
          enum:
            - active
            - inactive
            - resolved
          default: active
    AllergyUpdate:
      type: object
      properties:
        reaction:
          type: array
          items:
            $ref: '#/components/schemas/AllergyReaction'
        criticality:
          type: string
          enum:
            - low
            - high
            - unable-to-assess
        status:
          type: string
          enum:
            - active
            - inactive
            - resolved
    AllergyReaction:
      type: object
      properties:
        substance:
          $ref: '#/components/schemas/CodeableConcept'
        manifestation:
          type: array
          items:
            $ref: '#/components/schemas/CodeableConcept'
        severity:
          type: string
          enum:
            - mild
            - moderate
            - severe
        onset:
          type: string
          format: date-time
    MedicationStatement:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - patientId
            - medicationCodeableConcept
          properties:
            id:
              type: string
            patientId:
              type: string
            medicationCodeableConcept:
              $ref: '#/components/schemas/CodeableConcept'
            effectivePeriod:
              $ref: '#/components/schemas/Period'
            dosage:
              type: array
              items:
                $ref: '#/components/schemas/Dosage'
            status:
              type: string
              enum:
                - active
                - completed
                - entered-in-error
                - intended
                - stopped
                - on-hold
                - unknown
    MedicationStatementInput:
      type: object
      required:
        - patientId
        - medicationCodeableConcept
      properties:
        patientId:
          type: string
        medicationCodeableConcept:
          $ref: '#/components/schemas/CodeableConcept'
        effectivePeriod:
          $ref: '#/components/schemas/Period'
        dosage:
          type: array
          items:
            $ref: '#/components/schemas/Dosage'
        status:
          type: string
          enum:
            - active
            - completed
            - entered-in-error
            - intended
            - stopped
            - on-hold
            - unknown
          default: active
    MedicationStatementUpdate:
      type: object
      properties:
        effectivePeriod:
          $ref: '#/components/schemas/Period'
        dosage:
          type: array
          items:
            $ref: '#/components/schemas/Dosage'
        status:
          type: string
          enum:
            - active
            - completed
            - entered-in-error
            - intended
            - stopped
            - on-hold
            - unknown
    MedicationOrder:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - patientId
            - medicationCodeableConcept
          properties:
            id:
              type: string
            patientId:
              type: string
            encounterId:
              type: string
            medicationCodeableConcept:
              $ref: '#/components/schemas/CodeableConcept'
            authoredOn:
              type: string
              format: date-time
            dosageInstruction:
              type: array
              items:
                $ref: '#/components/schemas/Dosage'
            status:
              type: string
              enum:
                - active
                - on-hold
                - cancelled
                - completed
                - entered-in-error
                - stopped
                - draft
                - unknown
    MedicationOrderInput:
      type: object
      required:
        - patientId
        - medicationCodeableConcept
      properties:
        patientId:
          type: string
        encounterId:
          type: string
        medicationCodeableConcept:
          $ref: '#/components/schemas/CodeableConcept'
        dosageInstruction:
          type: array
          items:
            $ref: '#/components/schemas/Dosage'
        status:
          type: string
          enum:
            - active
            - on-hold
            - cancelled
            - completed
            - entered-in-error
            - stopped
            - draft
            - unknown
          default: draft
    MedicationOrderUpdate:
      type: object
      properties:
        dosageInstruction:
          type: array
          items:
            $ref: '#/components/schemas/Dosage'
        status:
          type: string
          enum:
            - active
            - on-hold
            - cancelled
            - completed
            - entered-in-error
            - stopped
            - draft
            - unknown
    MedicationAdministration:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - medicationOrderId
          properties:
            id:
              type: string
            medicationOrderId:
              type: string
            status:
              type: string
              enum:
                - in-progress
                - not-done
                - on-hold
                - completed
                - entered-in-error
                - stopped
                - unknown
            effectiveDateTime:
              type: string
              format: date-time
            dosage:
              $ref: '#/components/schemas/Dosage'
    Immunization:
      allOf:
        - $ref: '#/components/schemas/Timestamps'
        - type: object
          required:
            - id
            - patientId
            - vaccineCode
          properties:
            id:
              type: string
            patientId:
              type: string
            vaccineCode:
              $ref: '#/components/schemas/CodeableConcept'
            status:
              type: string
              enum:
                - completed
                - entered-in-error
                - not-done
            occurrenceDateTime:
              type: string
              format: date-time
            primarySource:
              type: boolean
            lotNumber:
              type: string
    ImmunizationInput:
      type: object
      required:
        - patientId
        - vaccineCode
      properties:
        patientId:
          type: string
        vaccineCode:
          $ref: '#/components/schemas/CodeableConcept'
        occurrenceDateTime:
          type: string
          format: date-time
[...]
