openapi: 3.1.0
info:
  title: Clinical Decision Engine - Decision Intelligence Domain API
  version: 1.0.0
  description: |
    Decision Intelligence Domain API for the Clinical Decision Engine.
    Part of the CuurAI MCP ecosystem.

    ## REST Pattern
    - **GET /entity** → List resources
    - **GET /entity/:id** → Get resource detail
    - **POST /entity** → Create resource
    - **PATCH /entity/:id** → Update resource
    - **DELETE /entity/:id** → Delete resource
    - **GET /entity/:id/sub-entity** → List child resources
  contact:
    name: CuurAI MCP Team
  license:
    name: Proprietary

servers:
  - url: https://api.cuurai.com/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local development

tags:
  - name: Decision Sessions
    description: Logical containers for all decision activity for a patient/context
  - name: Decision Requests
    description: Immutable snapshots of input data when a decision is asked for
  - name: Decision Results
    description: Top-level outcomes of decision requests
  - name: Risk Assessments
    description: Risk scores/probabilities for a patient/context
  - name: Recommendations
    description: Individual clinical recommendation cards
  - name: Alert Evaluations
    description: Evaluations of rules/models that may fire or suppress alerts
  - name: Explanations
    description: Human-readable and machine-readable explanations of decisions
  - name: Model Invocations
    description: Executions of specific model versions with input/output metadata
  - name: Simulation Scenarios
    description: What-if scenario definitions for offline testing
  - name: Simulation Runs
    description: Results of executing scenarios through rules/models
  - name: Decision Policies
    description: Configuration for combining rules/models, thresholds, priorities
  - name: Threshold Profiles
    description: Reusable sets of numeric/categorical thresholds
  - name: Decision Metrics
    description: Aggregated KPIs for policies/models/decision lines
  - name: Experiments
    description: A/B or multi-arm test definitions

paths:
  # ========================================================================
  # 1. DECISION SESSION
  # ========================================================================
  /decision-sessions:
    get:
      tags: [Decision Sessions]
      summary: List decision sessions
      operationId: listDecisionSessions
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: encounterId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, cancelled]
      responses:
        "200":
          description: List of decision sessions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/DecisionSession"

    post:
      tags: [Decision Sessions]
      summary: Create decision session
      operationId: createDecisionSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionSessionInput"
      responses:
        "201":
          description: Decision session created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionSession"
        "400":
          $ref: "#/components/responses/BadRequest"

  /decision-sessions/{id}:
    get:
      tags: [Decision Sessions]
      summary: Get decision session by ID
      operationId: getDecisionSession
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Decision session details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionSession"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Decision Sessions]
      summary: Update decision session
      operationId: updateDecisionSession
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionSessionUpdate"
      responses:
        "200":
          description: Decision session updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionSession"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Decision Sessions]
      summary: Delete decision session
      operationId: deleteDecisionSession
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Decision session deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /decision-sessions/{id}/decision-requests:
    get:
      tags: [Decision Sessions]
      summary: List decision session requests
      operationId: listDecisionSessionRequests
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of decision requests
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          items:
                            type: array
                            items:
                              $ref: "#/components/schemas/DecisionRequest"

  /decision-sessions/{id}/decision-results:
    get:
      tags: [Decision Sessions]
      summary: List decision session results
      operationId: listDecisionSessionResults
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of decision results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DecisionResult"

  /decision-sessions/{id}/risk-assessments:
    get:
      tags: [Decision Sessions]
      summary: List decision session risk assessments
      operationId: listDecisionSessionRiskAssessments
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of risk assessments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RiskAssessment"

  /decision-sessions/{id}/alerts:
    get:
      tags: [Decision Sessions]
      summary: List decision session alerts
      operationId: listDecisionSessionAlerts
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlertEvaluation"

  /decision-sessions/{id}/explanations:
    get:
      tags: [Decision Sessions]
      summary: List decision session explanations
      operationId: listDecisionSessionExplanations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Explanation"

  # ========================================================================
  # 2. DECISION REQUEST (Immutable - POST only)
  # ========================================================================
  /decision-requests:
    get:
      tags: [Decision Requests]
      summary: List decision requests
      operationId: listDecisionRequests
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: decisionSessionId
          in: query
          schema:
            type: string
        - name: patientId
          in: query
          schema:
            type: string
        - name: requestType
          in: query
          schema:
            type: string
            enum: [diagnostic, treatment, risk-assessment, pathway-selection]
      responses:
        "200":
          description: List of decision requests
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/DecisionRequest"

    post:
      tags: [Decision Requests]
      summary: Create decision request (immutable)
      operationId: createDecisionRequest
      description: |
        Creates an immutable decision request. Once created, decision requests cannot be
        modified to ensure audit trail integrity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionRequestInput"
      responses:
        "201":
          description: Decision request created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionRequest"
        "400":
          $ref: "#/components/responses/BadRequest"

  /decision-requests/{id}:
    get:
      tags: [Decision Requests]
      summary: Get decision request by ID
      operationId: getDecisionRequest
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Decision request details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  /decision-requests/{id}/decision-results:
    get:
      tags: [Decision Requests]
      summary: List decision request results
      operationId: listDecisionRequestResults
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of decision results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DecisionResult"

  /decision-requests/{id}/explanations:
    get:
      tags: [Decision Requests]
      summary: List decision request explanations
      operationId: listDecisionRequestExplanations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Explanation"

  # ========================================================================
  # 3. DECISION RESULT
  # ========================================================================
  /decision-results:
    get:
      tags: [Decision Results]
      summary: List decision results
      operationId: listDecisionResults
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: decisionRequestId
          in: query
          schema:
            type: string
        - name: decisionSessionId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, completed, failed]
      responses:
        "200":
          description: List of decision results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/DecisionResult"

    post:
      tags: [Decision Results]
      summary: Create decision result
      operationId: createDecisionResult
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionResultInput"
      responses:
        "201":
          description: Decision result created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionResult"
        "400":
          $ref: "#/components/responses/BadRequest"

  /decision-results/{id}:
    get:
      tags: [Decision Results]
      summary: Get decision result by ID
      operationId: getDecisionResult
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Decision result details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionResult"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Decision Results]
      summary: Update decision result
      operationId: updateDecisionResult
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionResultUpdate"
      responses:
        "200":
          description: Decision result updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionResult"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Decision Results]
      summary: Delete decision result
      operationId: deleteDecisionResult
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Decision result deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /decision-results/{id}/recommendations:
    get:
      tags: [Decision Results]
      summary: List decision result recommendations
      operationId: listDecisionResultRecommendations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of recommendations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Recommendation"

  /decision-results/{id}/risk-assessments:
    get:
      tags: [Decision Results]
      summary: List decision result risk assessments
      operationId: listDecisionResultRiskAssessments
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of risk assessments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RiskAssessment"

  /decision-results/{id}/explanations:
    get:
      tags: [Decision Results]
      summary: List decision result explanations
      operationId: listDecisionResultExplanations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Explanation"

  # ========================================================================
  # 4. RISK ASSESSMENT
  # ========================================================================
  /risk-assessments:
    get:
      tags: [Risk Assessments]
      summary: List risk assessments
      operationId: listRiskAssessments
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: riskType
          in: query
          schema:
            type: string
            enum: [mortality, readmission, complication, disease-progression, other]
      responses:
        "200":
          description: List of risk assessments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/RiskAssessment"

    post:
      tags: [Risk Assessments]
      summary: Create risk assessment
      operationId: createRiskAssessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/RiskAssessmentInput"
      responses:
        "201":
          description: Risk assessment created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/RiskAssessment"
        "400":
          $ref: "#/components/responses/BadRequest"

  /risk-assessments/{id}:
    get:
      tags: [Risk Assessments]
      summary: Get risk assessment by ID
      operationId: getRiskAssessment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Risk assessment details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/RiskAssessment"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Risk Assessments]
      summary: Update risk assessment
      operationId: updateRiskAssessment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/RiskAssessmentUpdate"
      responses:
        "200":
          description: Risk assessment updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/RiskAssessment"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Risk Assessments]
      summary: Delete risk assessment
      operationId: deleteRiskAssessment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Risk assessment deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /risk-assessments/{id}/explanations:
    get:
      tags: [Risk Assessments]
      summary: List risk assessment explanations
      operationId: listRiskAssessmentExplanations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Explanation"

  # ========================================================================
  # 5. RECOMMENDATION
  # ========================================================================
  /recommendations:
    get:
      tags: [Recommendations]
      summary: List recommendations
      operationId: listRecommendations
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: decisionResultId
          in: query
          schema:
            type: string
        - name: recommendationType
          in: query
          schema:
            type: string
            enum: [diagnostic, treatment, monitoring, follow-up, documentation, other]
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, accepted, overridden, deferred]
      responses:
        "200":
          description: List of recommendations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/Recommendation"

    post:
      tags: [Recommendations]
      summary: Create recommendation
      operationId: createRecommendation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/RecommendationInput"
      responses:
        "201":
          description: Recommendation created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Recommendation"
        "400":
          $ref: "#/components/responses/BadRequest"

  /recommendations/{id}:
    get:
      tags: [Recommendations]
      summary: Get recommendation by ID
      operationId: getRecommendation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Recommendation details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Recommendation"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Recommendations]
      summary: Update recommendation
      operationId: updateRecommendation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/RecommendationUpdate"
      responses:
        "200":
          description: Recommendation updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Recommendation"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Recommendations]
      summary: Delete recommendation
      operationId: deleteRecommendation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Recommendation deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /recommendations/{id}/explanations:
    get:
      tags: [Recommendations]
      summary: List recommendation explanations
      operationId: listRecommendationExplanations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Explanation"

  # ========================================================================
  # 6. ALERT EVALUATION
  # ========================================================================
  /alert-evaluations:
    get:
      tags: [Alert Evaluations]
      summary: List alert evaluations
      operationId: listAlertEvaluations
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, snoozed, overridden, resolved]
      responses:
        "200":
          description: List of alert evaluations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/AlertEvaluation"

    post:
      tags: [Alert Evaluations]
      summary: Create alert evaluation
      operationId: createAlertEvaluation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/AlertEvaluationInput"
      responses:
        "201":
          description: Alert evaluation created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/AlertEvaluation"
        "400":
          $ref: "#/components/responses/BadRequest"

  /alert-evaluations/{id}:
    get:
      tags: [Alert Evaluations]
      summary: Get alert evaluation by ID
      operationId: getAlertEvaluation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Alert evaluation details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/AlertEvaluation"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Alert Evaluations]
      summary: Update alert evaluation
      operationId: updateAlertEvaluation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/AlertEvaluationUpdate"
      responses:
        "200":
          description: Alert evaluation updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/AlertEvaluation"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Alert Evaluations]
      summary: Delete alert evaluation
      operationId: deleteAlertEvaluation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Alert evaluation deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ========================================================================
  # 7. EXPLANATION
  # ========================================================================
  /explanations:
    get:
      tags: [Explanations]
      summary: List explanations
      operationId: listExplanations
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: explanationType
          in: query
          schema:
            type: string
            enum: [feature-importance, rule-trace, evidence-summary, model-reasoning]
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/Explanation"

    post:
      tags: [Explanations]
      summary: Create explanation
      operationId: createExplanation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/ExplanationInput"
      responses:
        "201":
          description: Explanation created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Explanation"
        "400":
          $ref: "#/components/responses/BadRequest"

  /explanations/{id}:
    get:
      tags: [Explanations]
      summary: Get explanation by ID
      operationId: getExplanation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Explanation details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Explanation"
        "404":
          $ref: "#/components/responses/NotFound"

  /explanations/{id}/features:
    get:
      tags: [Explanations]
      summary: List explanation features
      operationId: listExplanationFeatures
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of feature attributions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FeatureAttribution"

  /explanations/{id}/rule-traces:
    get:
      tags: [Explanations]
      summary: List explanation rule traces
      operationId: listExplanationRuleTraces
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of rule traces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RuleTrace"

  # ========================================================================
  # 8. MODEL INVOCATION (Immutable - POST only)
  # ========================================================================
  /model-invocations:
    get:
      tags: [Model Invocations]
      summary: List model invocations
      operationId: listModelInvocations
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: modelVersionId
          in: query
          schema:
            type: string
        - name: patientId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of model invocations
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/ModelInvocation"

    post:
      tags: [Model Invocations]
      summary: Create model invocation (immutable)
      operationId: createModelInvocation
      description: |
        Creates an immutable model invocation record. Once created, invocations cannot be
        modified to ensure audit trail integrity.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/ModelInvocationInput"
      responses:
        "201":
          description: Model invocation created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/ModelInvocation"
        "400":
          $ref: "#/components/responses/BadRequest"

  /model-invocations/{id}:
    get:
      tags: [Model Invocations]
      summary: Get model invocation by ID
      operationId: getModelInvocation
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Model invocation details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/ModelInvocation"
        "404":
          $ref: "#/components/responses/NotFound"

  /model-invocations/{id}/explanations:
    get:
      tags: [Model Invocations]
      summary: List model invocation explanations
      operationId: listModelInvocationExplanations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Explanation"

  # ========================================================================
  # 9. SIMULATION SCENARIO
  # ========================================================================
  /simulation-scenarios:
    get:
      tags: [Simulation Scenarios]
      summary: List simulation scenarios
      operationId: listSimulationScenarios
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: category
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, completed]
      responses:
        "200":
          description: List of simulation scenarios
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/SimulationScenario"

    post:
      tags: [Simulation Scenarios]
      summary: Create simulation scenario
      operationId: createSimulationScenario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/SimulationScenarioInput"
      responses:
        "201":
          description: Simulation scenario created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/SimulationScenario"
        "400":
          $ref: "#/components/responses/BadRequest"

  /simulation-scenarios/{id}:
    get:
      tags: [Simulation Scenarios]
      summary: Get simulation scenario by ID
      operationId: getSimulationScenario
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Simulation scenario details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/SimulationScenario"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Simulation Scenarios]
      summary: Update simulation scenario
      operationId: updateSimulationScenario
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/SimulationScenarioUpdate"
      responses:
        "200":
          description: Simulation scenario updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/SimulationScenario"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Simulation Scenarios]
      summary: Delete simulation scenario
      operationId: deleteSimulationScenario
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Simulation scenario deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /simulation-scenarios/{id}/simulation-runs:
    get:
      tags: [Simulation Scenarios]
      summary: List simulation scenario runs
      operationId: listSimulationScenarioRuns
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of simulation runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimulationRun"

  # ========================================================================
  # 10. SIMULATION RUN
  # ========================================================================
  /simulation-runs:
    get:
      tags: [Simulation Runs]
      summary: List simulation runs
      operationId: listSimulationRuns
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: simulationScenarioId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [running, completed, failed]
      responses:
        "200":
          description: List of simulation runs
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/SimulationRun"

    post:
      tags: [Simulation Runs]
      summary: Create simulation run
      operationId: createSimulationRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/SimulationRunInput"
      responses:
        "201":
          description: Simulation run created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/SimulationRun"
        "400":
          $ref: "#/components/responses/BadRequest"

  /simulation-runs/{id}:
    get:
      tags: [Simulation Runs]
      summary: Get simulation run by ID
      operationId: getSimulationRun
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Simulation run details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/SimulationRun"
        "404":
          $ref: "#/components/responses/NotFound"

  /simulation-runs/{id}/decision-results:
    get:
      tags: [Simulation Runs]
      summary: List simulation run decision results
      operationId: listSimulationRunDecisionResults
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of decision results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DecisionResult"

  /simulation-runs/{id}/metrics:
    get:
      tags: [Simulation Runs]
      summary: List simulation run metrics
      operationId: listSimulationRunMetrics
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of metrics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SimulationMetric"

  # ========================================================================
  # 11. DECISION POLICY
  # ========================================================================
  /decision-policies:
    get:
      tags: [Decision Policies]
      summary: List decision policies
      operationId: listDecisionPolicies
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, deprecated]
      responses:
        "200":
          description: List of decision policies
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/DecisionPolicy"

    post:
      tags: [Decision Policies]
      summary: Create decision policy
      operationId: createDecisionPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionPolicyInput"
      responses:
        "201":
          description: Decision policy created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionPolicy"
        "400":
          $ref: "#/components/responses/BadRequest"

  /decision-policies/{id}:
    get:
      tags: [Decision Policies]
      summary: Get decision policy by ID
      operationId: getDecisionPolicy
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Decision policy details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionPolicy"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Decision Policies]
      summary: Update decision policy
      operationId: updateDecisionPolicy
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionPolicyUpdate"
      responses:
        "200":
          description: Decision policy updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionPolicy"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Decision Policies]
      summary: Delete decision policy
      operationId: deleteDecisionPolicy
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Decision policy deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /decision-policies/{id}/threshold-profiles:
    get:
      tags: [Decision Policies]
      summary: List decision policy threshold profiles
      operationId: listDecisionPolicyThresholdProfiles
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of threshold profiles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ThresholdProfile"

  # ========================================================================
  # 12. THRESHOLD PROFILE
  # ========================================================================
  /threshold-profiles:
    get:
      tags: [Threshold Profiles]
      summary: List threshold profiles
      operationId: listThresholdProfiles
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of threshold profiles
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/ThresholdProfile"

    post:
      tags: [Threshold Profiles]
      summary: Create threshold profile
      operationId: createThresholdProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/ThresholdProfileInput"
      responses:
        "201":
          description: Threshold profile created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/ThresholdProfile"
        "400":
          $ref: "#/components/responses/BadRequest"

  /threshold-profiles/{id}:
    get:
      tags: [Threshold Profiles]
      summary: Get threshold profile by ID
      operationId: getThresholdProfile
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Threshold profile details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/ThresholdProfile"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Threshold Profiles]
      summary: Update threshold profile
      operationId: updateThresholdProfile
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/ThresholdProfileUpdate"
      responses:
        "200":
          description: Threshold profile updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/ThresholdProfile"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Threshold Profiles]
      summary: Delete threshold profile
      operationId: deleteThresholdProfile
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Threshold profile deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ========================================================================
  # 13. DECISION METRIC SNAPSHOT (Immutable - POST only)
  # ========================================================================
  /decision-metrics:
    get:
      tags: [Decision Metrics]
      summary: List decision metrics
      operationId: listDecisionMetrics
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: decisionPolicyId
          in: query
          schema:
            type: string
        - name: modelDefinitionId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of decision metrics
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/DecisionMetricSnapshot"

    post:
      tags: [Decision Metrics]
      summary: Create decision metric snapshot (immutable)
      operationId: createDecisionMetricSnapshot
      description: |
        Creates an immutable decision metric snapshot. Once created, metrics cannot be
        modified to ensure historical accuracy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/DecisionMetricSnapshotInput"
      responses:
        "201":
          description: Decision metric snapshot created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionMetricSnapshot"
        "400":
          $ref: "#/components/responses/BadRequest"

  /decision-metrics/{id}:
    get:
      tags: [Decision Metrics]
      summary: Get decision metric snapshot by ID
      operationId: getDecisionMetricSnapshot
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Decision metric snapshot details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/DecisionMetricSnapshot"
        "404":
          $ref: "#/components/responses/NotFound"

  # ========================================================================
  # 14. EXPERIMENT
  # ========================================================================
  /experiments:
    get:
      tags: [Experiments]
      summary: List experiments
      operationId: listExperiments
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, running, completed, cancelled]
      responses:
        "200":
          description: List of experiments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiListResponse"

                  - type: object

                    properties:
                      data:
                        type: array

                        items:
                          $ref: "#/components/schemas/Experiment"

    post:
      tags: [Experiments]
      summary: Create experiment
      operationId: createExperiment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/ExperimentInput"
      responses:
        "201":
          description: Experiment created
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Experiment"
        "400":
          $ref: "#/components/responses/BadRequest"

  /experiments/{id}:
    get:
      tags: [Experiments]
      summary: Get experiment by ID
      operationId: getExperiment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Experiment details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Experiment"
        "404":
          $ref: "#/components/responses/NotFound"

    patch:
      tags: [Experiments]
      summary: Update experiment
      operationId: updateExperiment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/DecApiResponse"

                - type: object

                  properties:
                    data:
                      $ref: "#/components/schemas/ExperimentUpdate"
      responses:
        "200":
          description: Experiment updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/DecApiResponse"

                  - type: object

                    properties:
                      data:
                        $ref: "#/components/schemas/Experiment"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [Experiments]
      summary: Delete experiment
      operationId: deleteExperiment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Experiment deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /experiments/{id}/arms:
    get:
      tags: [Experiments]
      summary: List experiment arms
      operationId: listExperimentArms
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of experiment arms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExperimentArm"

  /experiments/{id}/results:
    get:
      tags: [Experiments]
      summary: List experiment results
      operationId: listExperimentResults
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of experiment results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ExperimentResult"

components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: string
        pattern: "^[a-zA-Z0-9_-]+$"
        example: "dec_1234567890"

    PageParam:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1

    LimitParam:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/DecApiResponse"

              - type: object

                properties:
                  data:
                    $ref: "#/components/schemas/Error"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/DecApiResponse"

              - type: object

                properties:
                  data:
                    $ref: "#/components/schemas/Error"

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

    DecApiMeta:
      type: object
      description: Response metadata with correlation tracking
      properties:
        correlationId:
          type: string
          description: Unique identifier for request-response correlation
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
        totalCount:
          type: integer
          description: Total count of items (for list responses)
        pageSize:
          type: integer
          description: Number of items per page
        pageNumber:
          type: integer
          description: Current page number

    DecApiResponse:
      type: object
      required:
        - meta
      properties:
        data:
          type: object
          description: Response payload (specific type defined by endpoint)
        meta:
          $ref: "#/components/schemas/DecApiMeta"

    DecApiListResponse:
      type: object
      properties:
        data:
          type: object
          description: Paginated data container
          properties:
            items:
              type: array
              description: List of items
              items: {}
        meta:
          allOf:
            - $ref: "#/components/schemas/DecApiMeta"
            - type: object
              properties:
                pagination:
                  type: object
                  description: Pagination metadata
                  properties:
                    nextCursor:
                      type: string
                      nullable: true
                    prevCursor:
                      type: string
                      nullable: true
                    limit:
                      type: integer

    Timestamps:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Decision Session schemas
    DecisionSession:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId]
          properties:
            id:
              type: string
            patientId:
              type: string
            encounterId:
              type: string
            status:
              type: string
              enum: [active, completed, cancelled]
            startedAt:
              type: string
              format: date-time
            endedAt:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true

    DecisionSessionInput:
      type: object
      required: [patientId]
      properties:
        patientId:
          type: string
        encounterId:
          type: string
        status:
          type: string
          enum: [active, completed, cancelled]
          default: active
        metadata:
          type: object
          additionalProperties: true

    DecisionSessionUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [active, completed, cancelled]
        endedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    # Decision Request schemas (Immutable)
    DecisionRequest:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId, requestType, context]
          properties:
            id:
              type: string
            decisionSessionId:
              type: string
            patientId:
              type: string
            requestType:
              type: string
              enum: [diagnostic, treatment, risk-assessment, pathway-selection]
            context:
              type: object
              description: Clinical context and input data
            priority:
              type: string
              enum: [low, normal, high, urgent]
              default: normal
            metadata:
              type: object
              additionalProperties: true

    DecisionRequestInput:
      type: object
      required: [patientId, requestType, context]
      properties:
        decisionSessionId:
          type: string
        patientId:
          type: string
        requestType:
          type: string
          enum: [diagnostic, treatment, risk-assessment, pathway-selection]
        context:
          type: object
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        metadata:
          type: object
          additionalProperties: true

    # Decision Result schemas
    DecisionResult:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, decisionRequestId]
          properties:
            id:
              type: string
            decisionRequestId:
              type: string
            decisionSessionId:
              type: string
            status:
              type: string
              enum: [pending, completed, failed]
            result:
              type: object
              description: Bundle of cards/recommendations/scores
            metadata:
              type: object
              additionalProperties: true

    DecisionResultInput:
      type: object
      required: [decisionRequestId]
      properties:
        decisionRequestId:
          type: string
        decisionSessionId:
          type: string
        status:
          type: string
          enum: [pending, completed, failed]
          default: pending
        result:
          type: object
        metadata:
          type: object
          additionalProperties: true

    DecisionResultUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [pending, completed, failed]
        result:
          type: object
        metadata:
          type: object
          additionalProperties: true

    # Risk Assessment schemas
    RiskAssessment:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId, riskType, score]
          properties:
            id:
              type: string
            patientId:
              type: string
            decisionResultId:
              type: string
            riskType:
              type: string
              enum: [mortality, readmission, complication, disease-progression, other]
            score:
              type: number
              format: float
            scoreRange:
              type: object
              properties:
                min:
                  type: number
                max:
                  type: number
            interpretation:
              type: string
            factors:
              type: array
              items:
                type: object
            modelId:
              type: string
            metadata:
              type: object
              additionalProperties: true

    RiskAssessmentInput:
      type: object
      required: [patientId, riskType, score]
      properties:
        patientId:
          type: string
        decisionResultId:
          type: string
        riskType:
          type: string
          enum: [mortality, readmission, complication, disease-progression, other]
        score:
          type: number
          format: float
        scoreRange:
          type: object
          properties:
            min:
              type: number
            max:
              type: number
        interpretation:
          type: string
        factors:
          type: array
          items:
            type: object
        modelId:
          type: string
        metadata:
          type: object
          additionalProperties: true

    RiskAssessmentUpdate:
      type: object
      properties:
        score:
          type: number
          format: float
        interpretation:
          type: string
        factors:
          type: array
          items:
            type: object
        metadata:
          type: object
          additionalProperties: true

    # Recommendation schemas
    Recommendation:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, decisionResultId, recommendationType]
          properties:
            id:
              type: string
            decisionResultId:
              type: string
            recommendationType:
              type: string
              enum: [diagnostic, treatment, monitoring, follow-up, documentation, other]
            title:
              type: string
            description:
              type: string
            suggestion:
              type: object
            status:
              type: string
              enum: [pending, accepted, overridden, deferred]
            acceptedBy:
              type: string
            acceptedAt:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true

    RecommendationInput:
      type: object
      required: [decisionResultId, recommendationType]
      properties:
        decisionResultId:
          type: string
        recommendationType:
          type: string
          enum: [diagnostic, treatment, monitoring, follow-up, documentation, other]
        title:
          type: string
        description:
          type: string
        suggestion:
          type: object
        status:
          type: string
          enum: [pending, accepted, overridden, deferred]
          default: pending
        metadata:
          type: object
          additionalProperties: true

    RecommendationUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [pending, accepted, overridden, deferred]
        acceptedBy:
          type: string
        acceptedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    # Alert Evaluation schemas
    AlertEvaluation:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId, severity]
          properties:
            id:
              type: string
            patientId:
              type: string
            decisionSessionId:
              type: string
            clinicalRuleId:
              type: string
            severity:
              type: string
              enum: [low, medium, high, critical]
            fired:
              type: boolean
            reasons:
              type: array
              items:
                type: string
            status:
              type: string
              enum: [active, snoozed, overridden, resolved]
            snoozedUntil:
              type: string
              format: date-time
            overriddenBy:
              type: string
            overriddenAt:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true

    AlertEvaluationInput:
      type: object
      required: [patientId, severity]
      properties:
        patientId:
          type: string
        decisionSessionId:
          type: string
        clinicalRuleId:
          type: string
        severity:
          type: string
          enum: [low, medium, high, critical]
        fired:
          type: boolean
          default: true
        reasons:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, snoozed, overridden, resolved]
          default: active
        metadata:
          type: object
          additionalProperties: true

    AlertEvaluationUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [active, snoozed, overridden, resolved]
        snoozedUntil:
          type: string
          format: date-time
        overriddenBy:
          type: string
        overriddenAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    # Explanation schemas
    Explanation:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, explanationType]
          properties:
            id:
              type: string
            explanationType:
              type: string
              enum: [feature-importance, rule-trace, evidence-summary, model-reasoning]
            content:
              type: object
              description: Human-readable and machine-readable explanation
            relatedEntityType:
              type: string
            relatedEntityId:
              type: string
            metadata:
              type: object
              additionalProperties: true

    ExplanationInput:
      type: object
      required: [explanationType, content]
      properties:
        explanationType:
          type: string
          enum: [feature-importance, rule-trace, evidence-summary, model-reasoning]
        content:
          type: object
        relatedEntityType:
          type: string
        relatedEntityId:
          type: string
        metadata:
          type: object
          additionalProperties: true

    FeatureAttribution:
      type: object
      properties:
        id:
          type: string
        explanationId:
          type: string
        featureName:
          type: string
        attribution:
          type: number
          format: float
        contribution:
          type: number
          format: float
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RuleTrace:
      type: object
      properties:
        id:
          type: string
        explanationId:
          type: string
        ruleId:
          type: string
        ruleName:
          type: string
        conditionMet:
          type: boolean
        actionExecuted:
          type: object
        trace:
          type: array
          items:
            type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Model Invocation schemas (Immutable)
    ModelInvocation:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, modelVersionId]
          properties:
            id:
              type: string
            modelVersionId:
              type: string
            patientId:
              type: string
            inputs:
              type: object
            outputs:
              type: object
            performanceMetadata:
              type: object
            executionTime:
              type: number
              format: float
            metadata:
              type: object
              additionalProperties: true

    ModelInvocationInput:
      type: object
      required: [modelVersionId, inputs]
      properties:
        modelVersionId:
          type: string
        patientId:
          type: string
        inputs:
          type: object
        outputs:
          type: object
        performanceMetadata:
          type: object
        executionTime:
          type: number
          format: float
        metadata:
          type: object
          additionalProperties: true

    # Simulation Scenario schemas
    SimulationScenario:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            category:
              type: string
            scenarioDefinition:
              type: object
              description: Altered inputs, patient profiles, policies
            status:
              type: string
              enum: [draft, active, completed]
            metadata:
              type: object
              additionalProperties: true

    SimulationScenarioInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        scenarioDefinition:
          type: object
        status:
          type: string
          enum: [draft, active, completed]
          default: draft
        metadata:
          type: object
          additionalProperties: true

    SimulationScenarioUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        scenarioDefinition:
          type: object
        status:
          type: string
          enum: [draft, active, completed]
        metadata:
          type: object
          additionalProperties: true

    # Simulation Run schemas
    SimulationRun:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, simulationScenarioId]
          properties:
            id:
              type: string
            simulationScenarioId:
              type: string
            status:
              type: string
              enum: [running, completed, failed]
            startedAt:
              type: string
              format: date-time
            completedAt:
              type: string
              format: date-time
            results:
              type: object
            metadata:
              type: object
              additionalProperties: true

    SimulationRunInput:
      type: object
      required: [simulationScenarioId]
      properties:
        simulationScenarioId:
          type: string
        status:
          type: string
          enum: [running, completed, failed]
          default: running
        metadata:
          type: object
          additionalProperties: true

    SimulationMetric:
      type: object
      properties:
        id:
          type: string
        simulationRunId:
          type: string
        metricName:
          type: string
        metricValue:
          type: number
        metricType:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    # Decision Policy schemas
    DecisionPolicy:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            configuration:
              type: object
              description: How to combine rules/models, thresholds, priorities, channel behavior
            status:
              type: string
              enum: [draft, active, deprecated]
            version:
              type: string
            metadata:
              type: object
              additionalProperties: true

    DecisionPolicyInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        configuration:
          type: object
        status:
          type: string
          enum: [draft, active, deprecated]
          default: draft
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true

    DecisionPolicyUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        configuration:
          type: object
        status:
          type: string
          enum: [draft, active, deprecated]
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true

    # Threshold Profile schemas
    ThresholdProfile:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            category:
              type: string
            thresholds:
              type: object
              description: Numeric/categorical thresholds (low/medium/high risk cutoffs, alert firing rules)
            metadata:
              type: object
              additionalProperties: true

    ThresholdProfileInput:
      type: object
      required: [name, thresholds]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        thresholds:
          type: object
        metadata:
          type: object
          additionalProperties: true

    ThresholdProfileUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        thresholds:
          type: object
        metadata:
          type: object
          additionalProperties: true

    # Decision Metric Snapshot schemas (Immutable)
    DecisionMetricSnapshot:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id]
          properties:
            id:
              type: string
            decisionPolicyId:
              type: string
            modelDefinitionId:
              type: string
            snapshotDate:
              type: string
              format: date-time
            metrics:
              type: object
              description: Aggregated KPIs (acceptance rate, override rate, alert fatigue metrics)
            metadata:
              type: object
              additionalProperties: true

    DecisionMetricSnapshotInput:
      type: object
      required: [snapshotDate, metrics]
      properties:
        decisionPolicyId:
          type: string
        modelDefinitionId:
          type: string
        snapshotDate:
          type: string
          format: date-time
        metrics:
          type: object
        metadata:
          type: object
          additionalProperties: true

    # Experiment schemas
    Experiment:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            experimentType:
              type: string
              enum: [ab, multi-arm]
            status:
              type: string
              enum: [draft, running, completed, cancelled]
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
            trafficAllocation:
              type: object
            metadata:
              type: object
              additionalProperties: true

    ExperimentInput:
      type: object
      required: [name, experimentType]
      properties:
        name:
          type: string
        description:
          type: string
        experimentType:
          type: string
          enum: [ab, multi-arm]
        status:
          type: string
          enum: [draft, running, completed, cancelled]
          default: draft
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        trafficAllocation:
          type: object
        metadata:
          type: object
          additionalProperties: true

    ExperimentUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, running, completed, cancelled]
        endDate:
          type: string
          format: date-time
        trafficAllocation:
          type: object
        metadata:
          type: object
          additionalProperties: true

    ExperimentArm:
      type: object
      properties:
        id:
          type: string
        experimentId:
          type: string
        name:
          type: string
        decisionPolicyId:
          type: string
        modelVersionId:
          type: string
        trafficPercentage:
          type: number
          format: float
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ExperimentResult:
      type: object
      properties:
        id:
          type: string
        experimentId:
          type: string
        armId:
          type: string
        metrics:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

security:
  - BearerAuth: []
  - OAuth2: []
