openapi: 3.1.0
info:
  title: Clinical Decision Engine - Workflow & Care Pathways Domain API
  version: 1.0.0
  description: |
    Workflow & Care Pathways Domain API for the Clinical Decision Engine.
    Part of the CuurAI MCP ecosystem.

    ## REST Pattern
    - **GET /entity** → List resources
    - **GET /entity/:id** → Get resource detail
    - **POST /entity** → Create resource
    - **PATCH /entity/:id** → Update resource
    - **DELETE /entity/:id** → Delete resource
    - **GET /entity/:id/sub-entity** → List child resources
  contact:
    name: CuurAI MCP Team
  license:
    name: Proprietary

servers:
  - url: https://api.cuurai.com/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local development

tags:
  - name: Workflow Definitions
    description: Abstract definitions of workflows (states, transitions, triggers)
  - name: Workflow Instances
    description: Runtime instances of workflows for specific patients/encounters/episodes
  - name: Care Pathway Templates
    description: Clinical care pathway definitions
  - name: Care Plans
    description: Patient-specific care plans instantiated from guidelines/pathways
  - name: Episodes of Care
    description: Longitudinal care episodes linking encounters and workflows
  - name: Tasks
    description: Atomic units of work to be performed
  - name: Task Assignments
    description: Assignment records linking tasks to clinicians/roles/teams
  - name: Alerts
    description: Clinical alerts generated by decision logic
  - name: Handoffs
    description: Handoff events between teams/providers
  - name: Checklist Templates
    description: Reusable checklist definitions
  - name: Checklist Instances
    description: Patient/episode-specific checklist instances
  - name: Escalation Policies
    description: Rules for escalating tasks/alerts
  - name: Routing Rules
    description: Rules determining task/alert routing
  - name: Schedule Templates
    description: Time-based patterns for recurring tasks/reminders
  - name: Work Queues
    description: Logical queues of tasks/alerts for roles or teams

paths:
  # ========================================================================
  # 1. WORKFLOW DEFINITION
  # ========================================================================
  /workflow-definitions:
    get:
      tags: [Workflow Definitions]
      summary: List workflow definitions
      operationId: listWorkflowDefinitions
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of workflow definitions
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/WorkflowDefinition"
    post:
      tags: [Workflow Definitions]
      summary: Create workflow definition
      operationId: createWorkflowDefinition
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/WorkflowDefinitionInput"
      responses:
        "201":
          description: Workflow definition created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkflowDefinition"
        "400":
          $ref: "#/components/responses/BadRequest"
  /workflow-definitions/{id}:
    get:
      tags: [Workflow Definitions]
      summary: Get workflow definition by ID
      operationId: getWorkflowDefinition
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Workflow definition details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkflowDefinition"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Workflow Definitions]
      summary: Update workflow definition
      operationId: updateWorkflowDefinition
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/WorkflowDefinitionUpdate"
      responses:
        "200":
          description: Workflow definition updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkflowDefinition"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Workflow Definitions]
      summary: Delete workflow definition
      operationId: deleteWorkflowDefinition
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Workflow definition deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /workflow-definitions/{id}/states:
    get:
      tags: [Workflow Definitions]
      summary: List workflow definition states
      operationId: listWorkflowDefinitionStates
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of states
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowState"
  /workflow-definitions/{id}/transitions:
    get:
      tags: [Workflow Definitions]
      summary: List workflow definition transitions
      operationId: listWorkflowDefinitionTransitions
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of transitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowTransition"

  # ========================================================================
  # 2. WORKFLOW INSTANCE
  # ========================================================================
  /workflow-instances:
    get:
      tags: [Workflow Instances]
      summary: List workflow instances
      operationId: listWorkflowInstances
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: workflowDefinitionId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, completed, cancelled]
      responses:
        "200":
          description: List of workflow instances
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/WorkflowInstance"
    post:
      tags: [Workflow Instances]
      summary: Create workflow instance
      operationId: createWorkflowInstance
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/WorkflowInstanceInput"
      responses:
        "201":
          description: Workflow instance created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkflowInstance"
        "400":
          $ref: "#/components/responses/BadRequest"
  /workflow-instances/{id}:
    get:
      tags: [Workflow Instances]
      summary: Get workflow instance by ID
      operationId: getWorkflowInstance
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Workflow instance details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkflowInstance"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Workflow Instances]
      summary: Update workflow instance
      operationId: updateWorkflowInstance
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/WorkflowInstanceUpdate"
      responses:
        "200":
          description: Workflow instance updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkflowInstance"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Workflow Instances]
      summary: Delete workflow instance
      operationId: deleteWorkflowInstance
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Workflow instance deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /workflow-instances/{id}/tasks:
    get:
      tags: [Workflow Instances]
      summary: List workflow instance tasks
      operationId: listWorkflowInstanceTasks
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"
  /workflow-instances/{id}/events:
    get:
      tags: [Workflow Instances]
      summary: List workflow instance events
      operationId: listWorkflowInstanceEvents
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowEvent"
  /workflow-instances/{id}/audit-events:
    get:
      tags: [Workflow Instances]
      summary: List workflow instance audit events
      operationId: listWorkflowInstanceAuditEvents
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of audit events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AuditEvent"

  # ========================================================================
  # 3. CARE PATHWAY TEMPLATE
  # ========================================================================
  /care-pathway-templates:
    get:
      tags: [Care Pathway Templates]
      summary: List care pathway templates
      operationId: listCarePathwayTemplates
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of care pathway templates
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/CarePathwayTemplate"
    post:
      tags: [Care Pathway Templates]
      summary: Create care pathway template
      operationId: createCarePathwayTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/CarePathwayTemplateInput"
      responses:
        "201":
          description: Care pathway template created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/CarePathwayTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
  /care-pathway-templates/{id}:
    get:
      tags: [Care Pathway Templates]
      summary: Get care pathway template by ID
      operationId: getCarePathwayTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Care pathway template details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/CarePathwayTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Care Pathway Templates]
      summary: Update care pathway template
      operationId: updateCarePathwayTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/CarePathwayTemplateUpdate"
      responses:
        "200":
          description: Care pathway template updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/CarePathwayTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Care Pathway Templates]
      summary: Delete care pathway template
      operationId: deleteCarePathwayTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Care pathway template deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /care-pathway-templates/{id}/steps:
    get:
      tags: [Care Pathway Templates]
      summary: List care pathway template steps
      operationId: listCarePathwayTemplateSteps
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of steps
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PathwayStep"
  /care-pathway-templates/{id}/order-set-templates:
    get:
      tags: [Care Pathway Templates]
      summary: List care pathway template order set templates
      operationId: listCarePathwayTemplateOrderSetTemplates
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of order set templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrderSetTemplate"

  # ========================================================================
  # 4. CARE PLAN
  # ========================================================================
  /care-plans:
    get:
      tags: [Care Plans]
      summary: List care plans
      operationId: listCarePlans
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, active, suspended, completed, cancelled]
      responses:
        "200":
          description: List of care plans
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/CarePlan"
    post:
      tags: [Care Plans]
      summary: Create care plan
      operationId: createCarePlan
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/CarePlanInput"
      responses:
        "201":
          description: Care plan created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/CarePlan"
        "400":
          $ref: "#/components/responses/BadRequest"
  /care-plans/{id}:
    get:
      tags: [Care Plans]
      summary: Get care plan by ID
      operationId: getCarePlan
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Care plan details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/CarePlan"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Care Plans]
      summary: Update care plan
      operationId: updateCarePlan
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/CarePlanUpdate"
      responses:
        "200":
          description: Care plan updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/CarePlan"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Care Plans]
      summary: Delete care plan
      operationId: deleteCarePlan
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Care plan deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /care-plans/{id}/goals:
    get:
      tags: [Care Plans]
      summary: List care plan goals
      operationId: listCarePlanGoals
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of goals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CarePlanGoal"
  /care-plans/{id}/tasks:
    get:
      tags: [Care Plans]
      summary: List care plan tasks
      operationId: listCarePlanTasks
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"
  /care-plans/{id}/checklists:
    get:
      tags: [Care Plans]
      summary: List care plan checklists
      operationId: listCarePlanChecklists
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of checklists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChecklistInstance"

  # ========================================================================
  # 5. EPISODE OF CARE
  # ========================================================================
  /episodes-of-care:
    get:
      tags: [Episodes of Care]
      summary: List episodes of care
      operationId: listEpisodesOfCare
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed, cancelled]
      responses:
        "200":
          description: List of episodes of care
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/EpisodeOfCare"
    post:
      tags: [Episodes of Care]
      summary: Create episode of care
      operationId: createEpisodeOfCare
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/EpisodeOfCareInput"
      responses:
        "201":
          description: Episode of care created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/EpisodeOfCare"
        "400":
          $ref: "#/components/responses/BadRequest"
  /episodes-of-care/{id}:
    get:
      tags: [Episodes of Care]
      summary: Get episode of care by ID
      operationId: getEpisodeOfCare
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Episode of care details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/EpisodeOfCare"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Episodes of Care]
      summary: Update episode of care
      operationId: updateEpisodeOfCare
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/EpisodeOfCareUpdate"
      responses:
        "200":
          description: Episode of care updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/EpisodeOfCare"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Episodes of Care]
      summary: Delete episode of care
      operationId: deleteEpisodeOfCare
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Episode of care deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /episodes-of-care/{id}/encounters:
    get:
      tags: [Episodes of Care]
      summary: List episode of care encounters
      operationId: listEpisodeOfCareEncounters
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of encounters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Encounter"
  /episodes-of-care/{id}/care-plans:
    get:
      tags: [Episodes of Care]
      summary: List episode of care care plans
      operationId: listEpisodeOfCareCarePlans
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of care plans
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CarePlan"
  /episodes-of-care/{id}/workflow-instances:
    get:
      tags: [Episodes of Care]
      summary: List episode of care workflow instances
      operationId: listEpisodeOfCareWorkflowInstances
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of workflow instances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WorkflowInstance"

  # ========================================================================
  # 6. TASK
  # ========================================================================
  /tasks:
    get:
      tags: [Tasks]
      summary: List tasks
      operationId: listTasks
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, ready, in-progress, on-hold, completed, cancelled]
        - name: assignedTo
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/Task"
    post:
      tags: [Tasks]
      summary: Create task
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/TaskInput"
      responses:
        "201":
          description: Task created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Task"
        "400":
          $ref: "#/components/responses/BadRequest"
  /tasks/{id}:
    get:
      tags: [Tasks]
      summary: Get task by ID
      operationId: getTask
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Task details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Task"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Tasks]
      summary: Update task
      operationId: updateTask
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/TaskUpdate"
      responses:
        "200":
          description: Task updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Task"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Tasks]
      summary: Delete task
      operationId: deleteTask
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Task deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /tasks/{id}/comments:
    get:
      tags: [Tasks]
      summary: List task comments
      operationId: listTaskComments
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of comments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TaskComment"
  /tasks/{id}/audit-events:
    get:
      tags: [Tasks]
      summary: List task audit events
      operationId: listTaskAuditEvents
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of audit events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AuditEvent"

  # ========================================================================
  # 7. TASK ASSIGNMENT
  # ========================================================================
  /task-assignments:
    get:
      tags: [Task Assignments]
      summary: List task assignments
      operationId: listTaskAssignments
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: taskId
          in: query
          schema:
            type: string
        - name: assignedTo
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of task assignments
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/TaskAssignment"
    post:
      tags: [Task Assignments]
      summary: Create task assignment
      operationId: createTaskAssignment
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/TaskAssignmentInput"
      responses:
        "201":
          description: Task assignment created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/TaskAssignment"
        "400":
          $ref: "#/components/responses/BadRequest"
  /task-assignments/{id}:
    get:
      tags: [Task Assignments]
      summary: Get task assignment by ID
      operationId: getTaskAssignment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Task assignment details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/TaskAssignment"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Task Assignments]
      summary: Update task assignment
      operationId: updateTaskAssignment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/TaskAssignmentUpdate"
      responses:
        "200":
          description: Task assignment updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/TaskAssignment"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Task Assignments]
      summary: Delete task assignment
      operationId: deleteTaskAssignment
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Task assignment deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ========================================================================
  # 8. ALERT
  # ========================================================================
  /alerts:
    get:
      tags: [Alerts]
      summary: List alerts
      operationId: listAlerts
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: status
          in: query
          schema:
            type: string
            enum:
              [active, acknowledged, overridden, snoozed, resolved, dismissed]
      responses:
        "200":
          description: List of alerts
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/Alert"
    post:
      tags: [Alerts]
      summary: Create alert
      operationId: createAlert
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/AlertInput"
      responses:
        "201":
          description: Alert created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Alert"
        "400":
          $ref: "#/components/responses/BadRequest"
  /alerts/{id}:
    get:
      tags: [Alerts]
      summary: Get alert by ID
      operationId: getAlert
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Alert details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Alert"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Alerts]
      summary: Update alert
      operationId: updateAlert
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/AlertUpdate"
      responses:
        "200":
          description: Alert updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Alert"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Alerts]
      summary: Delete alert
      operationId: deleteAlert
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Alert deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /alerts/{id}/explanations:
    get:
      tags: [Alerts]
      summary: List alert explanations
      operationId: listAlertExplanations
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of explanations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Explanation"
  /alerts/{id}/audit-events:
    get:
      tags: [Alerts]
      summary: List alert audit events
      operationId: listAlertAuditEvents
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of audit events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AuditEvent"

  # ========================================================================
  # 9. HANDOFF
  # ========================================================================
  /handoffs:
    get:
      tags: [Handoffs]
      summary: List handoffs
      operationId: listHandoffs
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: fromTeam
          in: query
          schema:
            type: string
        - name: toTeam
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of handoffs
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/Handoff"
    post:
      tags: [Handoffs]
      summary: Create handoff
      operationId: createHandoff
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/HandoffInput"
      responses:
        "201":
          description: Handoff created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Handoff"
        "400":
          $ref: "#/components/responses/BadRequest"
  /handoffs/{id}:
    get:
      tags: [Handoffs]
      summary: Get handoff by ID
      operationId: getHandoff
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Handoff details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Handoff"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Handoffs]
      summary: Update handoff
      operationId: updateHandoff
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/HandoffUpdate"
      responses:
        "200":
          description: Handoff updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/Handoff"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Handoffs]
      summary: Delete handoff
      operationId: deleteHandoff
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Handoff deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /handoffs/{id}/tasks:
    get:
      tags: [Handoffs]
      summary: List handoff tasks
      operationId: listHandoffTasks
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"

  # ========================================================================
  # 10. CHECKLIST TEMPLATE
  # ========================================================================
  /checklist-templates:
    get:
      tags: [Checklist Templates]
      summary: List checklist templates
      operationId: listChecklistTemplates
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of checklist templates
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/ChecklistTemplate"
    post:
      tags: [Checklist Templates]
      summary: Create checklist template
      operationId: createChecklistTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/ChecklistTemplateInput"
      responses:
        "201":
          description: Checklist template created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ChecklistTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
  /checklist-templates/{id}:
    get:
      tags: [Checklist Templates]
      summary: Get checklist template by ID
      operationId: getChecklistTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Checklist template details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ChecklistTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Checklist Templates]
      summary: Update checklist template
      operationId: updateChecklistTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/ChecklistTemplateUpdate"
      responses:
        "200":
          description: Checklist template updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ChecklistTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Checklist Templates]
      summary: Delete checklist template
      operationId: deleteChecklistTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Checklist template deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /checklist-templates/{id}/items:
    get:
      tags: [Checklist Templates]
      summary: List checklist template items
      operationId: listChecklistTemplateItems
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of checklist items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChecklistItem"

  # ========================================================================
  # 11. CHECKLIST INSTANCE
  # ========================================================================
  /checklist-instances:
    get:
      tags: [Checklist Instances]
      summary: List checklist instances
      operationId: listChecklistInstances
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: patientId
          in: query
          schema:
            type: string
        - name: checklistTemplateId
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [in-progress, completed, cancelled]
      responses:
        "200":
          description: List of checklist instances
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/ChecklistInstance"
    post:
      tags: [Checklist Instances]
      summary: Create checklist instance
      operationId: createChecklistInstance
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/ChecklistInstanceInput"
      responses:
        "201":
          description: Checklist instance created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ChecklistInstance"
        "400":
          $ref: "#/components/responses/BadRequest"
  /checklist-instances/{id}:
    get:
      tags: [Checklist Instances]
      summary: Get checklist instance by ID
      operationId: getChecklistInstance
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Checklist instance details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ChecklistInstance"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Checklist Instances]
      summary: Update checklist instance
      operationId: updateChecklistInstance
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/ChecklistInstanceUpdate"
      responses:
        "200":
          description: Checklist instance updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ChecklistInstance"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Checklist Instances]
      summary: Delete checklist instance
      operationId: deleteChecklistInstance
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Checklist instance deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /checklist-instances/{id}/items:
    get:
      tags: [Checklist Instances]
      summary: List checklist instance items
      operationId: listChecklistInstanceItems
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of checklist items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChecklistItemInstance"

  # ========================================================================
  # 12. ESCALATION POLICY
  # ========================================================================
  /escalation-policies:
    get:
      tags: [Escalation Policies]
      summary: List escalation policies
      operationId: listEscalationPolicies
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of escalation policies
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/EscalationPolicy"
    post:
      tags: [Escalation Policies]
      summary: Create escalation policy
      operationId: createEscalationPolicy
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/EscalationPolicyInput"
      responses:
        "201":
          description: Escalation policy created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/EscalationPolicy"
        "400":
          $ref: "#/components/responses/BadRequest"
  /escalation-policies/{id}:
    get:
      tags: [Escalation Policies]
      summary: Get escalation policy by ID
      operationId: getEscalationPolicy
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Escalation policy details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/EscalationPolicy"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Escalation Policies]
      summary: Update escalation policy
      operationId: updateEscalationPolicy
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/EscalationPolicyUpdate"
      responses:
        "200":
          description: Escalation policy updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/EscalationPolicy"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Escalation Policies]
      summary: Delete escalation policy
      operationId: deleteEscalationPolicy
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Escalation policy deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /escalation-policies/{id}/rules:
    get:
      tags: [Escalation Policies]
      summary: List escalation policy rules
      operationId: listEscalationPolicyRules
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of escalation rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EscalationRule"

  # ========================================================================
  # 13. ROUTING RULE
  # ========================================================================
  /routing-rules:
    get:
      tags: [Routing Rules]
      summary: List routing rules
      operationId: listRoutingRules
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: enabled
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: List of routing rules
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/RoutingRule"
    post:
      tags: [Routing Rules]
      summary: Create routing rule
      operationId: createRoutingRule
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/RoutingRuleInput"
      responses:
        "201":
          description: Routing rule created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/RoutingRule"
        "400":
          $ref: "#/components/responses/BadRequest"
  /routing-rules/{id}:
    get:
      tags: [Routing Rules]
      summary: Get routing rule by ID
      operationId: getRoutingRule
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Routing rule details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/RoutingRule"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Routing Rules]
      summary: Update routing rule
      operationId: updateRoutingRule
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/RoutingRuleUpdate"
      responses:
        "200":
          description: Routing rule updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/RoutingRule"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Routing Rules]
      summary: Delete routing rule
      operationId: deleteRoutingRule
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Routing rule deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ========================================================================
  # 14. SCHEDULE TEMPLATE
  # ========================================================================
  /schedule-templates:
    get:
      tags: [Schedule Templates]
      summary: List schedule templates
      operationId: listScheduleTemplates
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: category
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of schedule templates
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/ScheduleTemplate"
    post:
      tags: [Schedule Templates]
      summary: Create schedule template
      operationId: createScheduleTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/ScheduleTemplateInput"
      responses:
        "201":
          description: Schedule template created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ScheduleTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
  /schedule-templates/{id}:
    get:
      tags: [Schedule Templates]
      summary: Get schedule template by ID
      operationId: getScheduleTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Schedule template details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ScheduleTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Schedule Templates]
      summary: Update schedule template
      operationId: updateScheduleTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/ScheduleTemplateUpdate"
      responses:
        "200":
          description: Schedule template updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/ScheduleTemplate"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Schedule Templates]
      summary: Delete schedule template
      operationId: deleteScheduleTemplate
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Schedule template deleted
        "404":
          $ref: "#/components/responses/NotFound"

  # ========================================================================
  # 15. WORK QUEUE
  # ========================================================================
  /work-queues:
    get:
      tags: [Work Queues]
      summary: List work queues
      operationId: listWorkQueues
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: teamId
          in: query
          schema:
            type: string
        - name: role
          in: query
          schema:
            type: string
      responses:
        "200":
          description: List of work queues
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiListResponse"

                  - type: object

                    properties:

                      data:

                        type: array

                        items:

                          $ref: "#/components/schemas/WorkQueue"
    post:
      tags: [Work Queues]
      summary: Create work queue
      operationId: createWorkQueue
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/WorkQueueInput"
      responses:
        "201":
          description: Work queue created
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkQueue"
        "400":
          $ref: "#/components/responses/BadRequest"
  /work-queues/{id}:
    get:
      tags: [Work Queues]
      summary: Get work queue by ID
      operationId: getWorkQueue
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "200":
          description: Work queue details
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkQueue"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags: [Work Queues]
      summary: Update work queue
      operationId: updateWorkQueue
      parameters:
        - $ref: "#/components/parameters/IdParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:

              allOf:

                - $ref: "#/components/schemas/WorApiResponse"

                - type: object

                  properties:

                    data:

                      $ref: "#/components/schemas/WorkQueueUpdate"
      responses:
        "200":
          description: Work queue updated
          content:
            application/json:
              schema:

                allOf:

                  - $ref: "#/components/schemas/WorApiResponse"

                  - type: object

                    properties:

                      data:

                        $ref: "#/components/schemas/WorkQueue"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [Work Queues]
      summary: Delete work queue
      operationId: deleteWorkQueue
      parameters:
        - $ref: "#/components/parameters/IdParam"
      responses:
        "204":
          description: Work queue deleted
        "404":
          $ref: "#/components/responses/NotFound"
  /work-queues/{id}/tasks:
    get:
      tags: [Work Queues]
      summary: List work queue tasks
      operationId: listWorkQueueTasks
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"
  /work-queues/{id}/alerts:
    get:
      tags: [Work Queues]
      summary: List work queue alerts
      operationId: listWorkQueueAlerts
      parameters:
        - $ref: "#/components/parameters/IdParam"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Alert"

components:
  parameters:
    IdParam:
      name: id
      in: path
      required: true
      description: Resource identifier
      schema:
        type: string
        pattern: "^[a-zA-Z0-9_-]+$"
        example: "wf_1234567890"
    PageParam:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    LimitParam:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:

            allOf:

              - $ref: "#/components/schemas/WorApiResponse"

              - type: object

                properties:

                  data:

                    $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:

            allOf:

              - $ref: "#/components/schemas/WorApiResponse"

              - type: object

                properties:

                  data:

                    $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object
    WorApiMeta:
      type: object
      description: Response metadata with correlation tracking
      properties:
        correlationId:
          type: string
          description: Unique identifier for request-response correlation
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
        totalCount:
          type: integer
          description: Total count of items (for list responses)
        pageSize:
          type: integer
          description: Number of items per page
        pageNumber:
          type: integer
          description: Current page number

    WorApiResponse:
      type: object
      properties:
        data:
          type: object
          description: Response payload
        meta:
          $ref: "#/components/schemas/WorApiMeta"

    WorApiListResponse:
      type: object
      properties:
        data:
          type: array
          description: List of items
        meta:
          $ref: "#/components/schemas/WorApiMeta"

    Timestamps:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Workflow Definition schemas
    WorkflowDefinition:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            category:
              type: string
            version:
              type: string
            metadata:
              type: object
              additionalProperties: true
    WorkflowDefinitionInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    WorkflowDefinitionUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    WorkflowState:
      type: object
      properties:
        id:
          type: string
        workflowDefinitionId:
          type: string
        name:
          type: string
        order:
          type: integer
        isInitial:
          type: boolean
        isFinal:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    WorkflowTransition:
      type: object
      properties:
        id:
          type: string
        workflowDefinitionId:
          type: string
        fromStateId:
          type: string
        toStateId:
          type: string
        trigger:
          type: object
        conditions:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Workflow Instance schemas
    WorkflowInstance:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, workflowDefinitionId, patientId]
          properties:
            id:
              type: string
            workflowDefinitionId:
              type: string
            patientId:
              type: string
            encounterId:
              type: string
            episodeOfCareId:
              type: string
            currentState:
              type: string
            status:
              type: string
              enum: [active, paused, completed, cancelled]
            startedAt:
              type: string
              format: date-time
            completedAt:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true
    WorkflowInstanceInput:
      type: object
      required: [workflowDefinitionId, patientId]
      properties:
        workflowDefinitionId:
          type: string
        patientId:
          type: string
        encounterId:
          type: string
        episodeOfCareId:
          type: string
        status:
          type: string
          enum: [active, paused, completed, cancelled]
          default: active
        metadata:
          type: object
          additionalProperties: true
    WorkflowInstanceUpdate:
      type: object
      properties:
        currentState:
          type: string
        status:
          type: string
          enum: [active, paused, completed, cancelled]
        completedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    WorkflowEvent:
      type: object
      properties:
        id:
          type: string
        workflowInstanceId:
          type: string
        eventType:
          type: string
        eventData:
          type: object
        occurredAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Care Pathway Template schemas
    CarePathwayTemplate:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            category:
              type: string
            version:
              type: string
            metadata:
              type: object
              additionalProperties: true
    CarePathwayTemplateInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    CarePathwayTemplateUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    PathwayStep:
      type: object
      properties:
        id:
          type: string
        carePathwayTemplateId:
          type: string
        stepNumber:
          type: integer
        title:
          type: string
        description:
          type: string
        order:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    OrderSetTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Care Plan schemas
    CarePlan:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId]
          properties:
            id:
              type: string
            patientId:
              type: string
            episodeOfCareId:
              type: string
            carePathwayTemplateId:
              type: string
            title:
              type: string
            description:
              type: string
            status:
              type: string
              enum: [draft, active, suspended, completed, cancelled]
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true
    CarePlanInput:
      type: object
      required: [patientId]
      properties:
        patientId:
          type: string
        episodeOfCareId:
          type: string
        carePathwayTemplateId:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, suspended, completed, cancelled]
          default: draft
        startDate:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    CarePlanUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, suspended, completed, cancelled]
        endDate:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    CarePlanGoal:
      type: object
      properties:
        id:
          type: string
        carePlanId:
          type: string
        description:
          type: string
        targetDate:
          type: string
          format: date-time
        status:
          type: string
          enum: [planned, in-progress, achieved, cancelled]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Episode of Care schemas
    EpisodeOfCare:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId]
          properties:
            id:
              type: string
            patientId:
              type: string
            status:
              type: string
              enum: [active, completed, cancelled]
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
            condition:
              type: string
            metadata:
              type: object
              additionalProperties: true
    EpisodeOfCareInput:
      type: object
      required: [patientId]
      properties:
        patientId:
          type: string
        status:
          type: string
          enum: [active, completed, cancelled]
          default: active
        startDate:
          type: string
          format: date-time
        condition:
          type: string
        metadata:
          type: object
          additionalProperties: true
    EpisodeOfCareUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [active, completed, cancelled]
        endDate:
          type: string
          format: date-time
        condition:
          type: string
        metadata:
          type: object
          additionalProperties: true
    Encounter:
      type: object
      properties:
        id:
          type: string
        patientId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Task schemas
    Task:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, title, taskType]
          properties:
            id:
              type: string
            carePlanId:
              type: string
            workflowInstanceId:
              type: string
            patientId:
              type: string
            title:
              type: string
            description:
              type: string
            taskType:
              type: string
              enum:
                [
                  medication,
                  procedure,
                  lab-order,
                  appointment,
                  education,
                  other,
                ]
            status:
              type: string
              enum: [draft, ready, in-progress, on-hold, completed, cancelled]
            priority:
              type: string
              enum: [low, normal, high, urgent]
            dueDate:
              type: string
              format: date-time
            assignedTo:
              type: string
            completedAt:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true
    TaskInput:
      type: object
      required: [title, taskType]
      properties:
        carePlanId:
          type: string
        workflowInstanceId:
          type: string
        patientId:
          type: string
        title:
          type: string
        description:
          type: string
        taskType:
          type: string
          enum:
            [medication, procedure, lab-order, appointment, education, other]
        status:
          type: string
          enum: [draft, ready, in-progress, on-hold, completed, cancelled]
          default: draft
        priority:
          type: string
          enum: [low, normal, high, urgent]
          default: normal
        dueDate:
          type: string
          format: date-time
        assignedTo:
          type: string
        metadata:
          type: object
          additionalProperties: true
    TaskUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, ready, in-progress, on-hold, completed, cancelled]
        priority:
          type: string
          enum: [low, normal, high, urgent]
        dueDate:
          type: string
          format: date-time
        assignedTo:
          type: string
        completedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    TaskComment:
      type: object
      properties:
        id:
          type: string
        taskId:
          type: string
        comment:
          type: string
        author:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    AuditEvent:
      type: object
      properties:
        id:
          type: string
        entityType:
          type: string
        entityId:
          type: string
        eventType:
          type: string
        userId:
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Task Assignment schemas
    TaskAssignment:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, taskId]
          properties:
            id:
              type: string
            taskId:
              type: string
            assignedTo:
              type: string
            assignedToType:
              type: string
              enum: [user, role, team]
            assignedAt:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true
    TaskAssignmentInput:
      type: object
      required: [taskId, assignedTo, assignedToType]
      properties:
        taskId:
          type: string
        assignedTo:
          type: string
        assignedToType:
          type: string
          enum: [user, role, team]
        metadata:
          type: object
          additionalProperties: true
    TaskAssignmentUpdate:
      type: object
      properties:
        assignedTo:
          type: string
        assignedToType:
          type: string
          enum: [user, role, team]
        metadata:
          type: object
          additionalProperties: true
    # Alert schemas
    Alert:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId, alertType, severity]
          properties:
            id:
              type: string
            patientId:
              type: string
            alertType:
              type: string
              enum:
                [
                  drug-interaction,
                  allergy,
                  critical-value,
                  clinical-rule,
                  other,
                ]
            severity:
              type: string
              enum: [low, medium, high, critical]
            title:
              type: string
            message:
              type: string
            status:
              type: string
              enum:
                [active, acknowledged, overridden, snoozed, resolved, dismissed]
            acknowledgedBy:
              type: string
            acknowledgedAt:
              type: string
              format: date-time
            resolvedAt:
              type: string
              format: date-time
            metadata:
              type: object
              additionalProperties: true
    AlertInput:
      type: object
      required: [patientId, alertType, severity, title, message]
      properties:
        patientId:
          type: string
        alertType:
          type: string
          enum:
            [drug-interaction, allergy, critical-value, clinical-rule, other]
        severity:
          type: string
          enum: [low, medium, high, critical]
        title:
          type: string
        message:
          type: string
        status:
          type: string
          enum: [active, acknowledged, overridden, snoozed, resolved, dismissed]
          default: active
        metadata:
          type: object
          additionalProperties: true
    AlertUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [active, acknowledged, overridden, snoozed, resolved, dismissed]
        acknowledgedBy:
          type: string
        acknowledgedAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    Explanation:
      type: object
      properties:
        id:
          type: string
        explanationType:
          type: string
        content:
          type: object
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    # Handoff schemas
    Handoff:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, patientId, fromTeam, toTeam]
          properties:
            id:
              type: string
            patientId:
              type: string
            fromTeam:
              type: string
            toTeam:
              type: string
            handoffType:
              type: string
            handoffDate:
              type: string
              format: date-time
            notes:
              type: string
            status:
              type: string
              enum: [pending, completed, cancelled]
            metadata:
              type: object
              additionalProperties: true
    HandoffInput:
      type: object
      required: [patientId, fromTeam, toTeam]
      properties:
        patientId:
          type: string
        fromTeam:
          type: string
        toTeam:
          type: string
        handoffType:
          type: string
        handoffDate:
          type: string
          format: date-time
        notes:
          type: string
        status:
          type: string
          enum: [pending, completed, cancelled]
          default: pending
        metadata:
          type: object
          additionalProperties: true
    HandoffUpdate:
      type: object
      properties:
        handoffType:
          type: string
        handoffDate:
          type: string
          format: date-time
        notes:
          type: string
        status:
          type: string
          enum: [pending, completed, cancelled]
        metadata:
          type: object
          additionalProperties: true
    # Checklist Template schemas
    ChecklistTemplate:
      allOf:
        - $ref: "#/components/schemas/Timestamps"
        - type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            description:
              type: string
            category:
              type: string
            version:
              type: string
            metadata:
              type: object
              additionalProperties: true
    ChecklistTemplateInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ChecklistTemplateUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        version:
          type: string
        metadata:
          type: object
          additionalProperties: true
    ChecklistItem:
      type: object
      properties:
        id:
          type: string
        checklistTemplateId:
          type: string
        itemText:
          type: string
        order:
          type: integer
        required:
          type: boolean
        createdAt:
[...]
